<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>Death In The Mediterranean</title>
    
        <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
        <link rel="shortcut icon" type="image/ico" href="img/icons/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
        <meta name="description" content="Investigation into the disappearance of flight 9H-ABU by Don Mullan, renowned investigative journalst and authur of Eyewitness Bloody Sunday. First published in Magill magazine in January 2003." >

        <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
        <link rel="stylesheet" href="styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="index.html" title="Home Page" >Home</a></li>
                    <li><a href="death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- ********************************************************************************** -->
    
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Death In The Mediterannean...An Investigation By Don Mullan</span>

                <p>In the early hours of the 3rd December 1995 a light single-engine Piper Lance aircraft allegedly left Djerba Airport, Tunisia, with five passengers and a pilot on board. Sixteen years later, mystery and controversy continues to surround the events of that night.. Sixteen years later, mystery and controversy continues to surround the events of that night.</p>
              
                <p>Among those disappeared were 38-year-old engineer, Desmond Boomer. His travelling companions were English engineer Michael Williams (49), Polish national Tadeus Gorny (48), and Maltese nationals Philip Farrugia (43) and Matthew Aquilina (22). The pilot, Captain Carmela Bartolo (47) was also Maltese.</p>

                <p>Desmond Boomer was originally from Andersonstown, West Belfast in Northern Ireland and he lived with his wife and five children in Banbridge in Co Down, Northern Ireland. Desmond worked in the Libyan oil-fields for UK-based company, MAPEL Engineering. Because of UN sanctions against Colonel Gaddafi's government, following the Lockerbie bombing, foreign workers could not fly directly to Libya. Small planes usually ferried MAPEL employees along a, possibly illegal, route between the Mediterranean island of Malta and Djerba Airport, Tunisia. Desmond Boomer was en route home to Belfast for his Christmas holidays when he and the other passengers disappeared.</p>

                <p>There are three widely held explanations for the disappearance:</p>
            
                <ul id="listClass">
                  <li>Desmond Boomer and his travelling companions were abducted by Islamic fundamentalists and may still be alive</li>
                  <li>The light aircraft, which had experienced serious mechanical difficulties on its outbound flight from Malta, was irresponsibly flown into a raging Mediterranean storm by an experienced pilot and subsequently crashed off the coast of Tunisia</li>
                  <li>The five passengers were in the wrong place at the wrong time when Islamic fundamentalists arrived to exact revenge on a marked man, the pilot Carmelo Bartolo</li>
                </ul>

                <span class="header-blue">The Pilot</span>

                <p>Carmelo Bartolo was the owner of two small private Maltese airlines, Excelair and Sun Aviation.
                Five weeks earlier, the Maltese press had implicated him, wittingly or not, in the assassination of the leader of Islamic Jihad, Fathi Shqaqi. The impression was given that Bartolo may have assisted members of the Israeli secret service, Mossad, to escape from the island in the hours following the killing of Fathi Shqaqi on 26 October 1995.</p>

                <span class="header-blue">Disaster or deception?</span>

                <p>Desmond Boomer was due home for Christmas on the 13th December 1995. On Saturday the 2nd December, he called his wife, Mandy, twice from Djerba Airport. The first call was in the afternoon. He told Mandy that he was coming home early and probably for good. His second call was made around 9.30pm. This time, he informed her that there was, "very bad weather" and that he did not expect to fly out of Djerba until sometime the following day. His parting words are etched in his wife's memory, "I love you, Mandy'.</p>
              
                <p>A British passenger, Mike Williams, also made a phone call that Saturday. He spoke to Ray Mercieca, the lead guitarist and singer with The Characters, the most popular rock band in Malta at the time. Williams managed the group. He told the musician that he would stay overnight in Djerba due to a bad storm. He said he would call him as soon as his flight was leaving so that Ray could collect him at Malta's Luqa Airport. The call never came.</p>
              
                <p>Ray Mercieca said, "Mike was my best friend. He was always reliable. We often phoned one another at all hours of the day and night. Before getting on that plane Mike would have called me. I don't believe he ever got on that plane and I am sceptical that the plane ever took off. A Maltese passenger, Matthew Aquilina, rang home on five occasions on the Saturday, the last time around 9.30pm to say he would be stopping over because of bad weather. Similarly, Captain Bartolo's wife, Antonia, testified that her husband called her at 10:45pm to inform her that he was going to stay overnight.</p>

                <span class="header-blue">Search and rescue</span>

                <p>It appears, however, that Malta had not been informed of any inbound flight by Tunisia, despite the fact that this is standard aviation practice. Bizarrely, at 4.35am, some 25 minutes after its last alleged radio contact with Captain Bartolo, Djerba ATC telephoned Malta ATC asking it to make radio contact with the aircraft.</p>
              
                <p>Initially, Malta ATC treated the flight as a communication failure. However, when the aircraft failed to arrive or make contact, Malta Radio was asked to broadcast distress messages so that ships in the area would look for possible signs of a crash. These broadcasts commenced at 7.45am.</p>
              
                <p>The first aircraft to assist in the search mission was dispatched by the Italian armed forces at 8.12am, almost four hours after concern for the safety of the flight began. Other local civilian aircraft were later called to assist. Shipping vessels and oil-rigs in the Mediterranean were also contacted and asked to participate in the search.</p>
              
                <p>Philip Bartolo (now deceased), son of the missing pilot, Carmelo Bartolo, told Desmond Boomer's father, Cormac (now deceased), that the searching planes travelled the Piper Lance's expected route back to Malta. They flew at around 500 to 1,000 feet, but found nothing. "No one will ever convince me that that plane went down in the water and nothing floated from it," he told Cormac Boomer.</p>
              
                <p>At 12 noon, the US embassy in Malta offered assistance. A US Air Force P3 Orion aircraft was dispatched from Sigonella Air Base, Sicily, to join the search. The search operation took place from 3- 10 December 1995 and concentrated on the FIR boundaries between Malta, Libya and Tunisia. It met with no success.</p>

                <span class="header-blue">A harrowing flight</span>

                <p>The light aircraft, a Piper Lance, registration 9H­-ABU, that was to bring them back to Malta had flown from the island to Tunisia earlier that same day. It landed at Djerba Airport at approximately 8.29pm. Bartolo carried four passengers on this flight. They included MAPEL's Libyan area manager, David Silts. It was a harrowing journey, and not just because of the prevailing weather conditions.</p>
              
                <p>Three of the outbound passengers, Silts, Rodney Woods and Omar Klebb, gave evidence to a Maltese Board of Inquiry investigating the plane's disappearance. They testified that when the engine first started up a screech was heard. The aircraft then headed straight into a violent electrical storm in which everything iced up. The passengers stated that that the aircraft's portable global positioning system (GPS) was not functioning. Rodney Woods, who sat next to the pilot throughout the flight, testified that, when the plane was still 20 minutes shy of Djerba, "for a second time I smelt rubber burning - I noticed that the volt meter and the amp meter were not working."</p>
              
                <p>After landing at Djerba, Woods said, "we went to collect our luggage from the hold and I noticed that the alternator drive belt was all torn." Woods also told the inquiry that Captain Bartolo "put his hand in and tore it off easily in front of everyone." All three witnesses stated that, in their opinion, the aircraft was in no fit state to return to Malta.</p>
              
                <p>To replace the alternator belt required at least three hours of specialist maintenance work, involving the removal of the propeller. NCA International, a Maltese based aircraft maintenance company, held the repair contract for aircraft owned by Captain Bartolo's two companies. Before another company could undertake repair work on his aircraft Bartolo was required to obtain written authority from NCA, otherwise his insurance cover would be invalid. Bartolo did not contact NCA for repair clearance that night or the following morning, which suggests that no repairs were carried out.</p>
              
                <p>Mysteriously, despite all of the phone calls to loved ones and friends from pilot and passengers saying they were staying overnight at Djerba because of bad weather, despite the fact that the black tempest was still raging and showed no sign of abating, despite the serious mechanical difficulties experienced by the aircraft on its outbound flight, and despite the fact that there is no evidence the aircraft underwent repairs or that its captain sought the necessary insurance clearance to enable such repairs to be carried out, a Tunisian Ministry of Transport report states that Bartolo's aircraft obtained start-up clearance from Djerba Tower at 3.38am and takeoff clearance at 3.44am.</p>
                
                <p>The Tunisian report states that Djerba Air Traffic Control (ATC) had difficulty maintaining radio contact with the aircraft, but that at 4.10am, on the emergency frequency, it asked the pilot to contact Maltese ATC. It is alleged the pilot responded to this request with "Uniform'; taken by Djerba as an indication he was about to do so. The Tunisian report then records in bold print: "The flight is therefore closed by the Tunisian Control and transferred to Maltese Control."</p>

                <span class="header-blue">The wreckage</span>

                <p>It appears, however, that Malta had not been informed of any inbound flight by Tunisia, despite the fact that this is standard aviation practice. Bizarrely, at 4.35am, some 25 minutes after its last alleged radio contact with Captain Bartolo, Djerba ATC telephoned Malta ATC asking it to make radio contact with the aircraft.</p>
              
                <p>Initially, Malta ATC treated the flight as a communication failure. However, when the aircraft failed to arrive or make contact, Malta Radio was asked to broadcast distress messages so that ships in the area would look for possible signs of a crash. These broadcasts commenced at 7.45am.</p>
              
                <p>The first aircraft to assist in the search mission was dispatched by the Italian armed forces at 8.12am, almost four hours after concern for the safety of the flight began. Other local civilian aircraft were later called to assist. Shipping vessels and oil-rigs in the Mediterranean were also contacted and asked to participate in the search.</p>
              
                <p>Philip Bartolo (now deceased), son of the missing pilot, Carmelo Bartolo, told Desmond Boomer's father, Cormac (now deceased), that the searching planes travelled the Piper Lance's expected route back to Malta. They flew at around 500 to 1,000 feet, but found nothing. "No one will ever convince me that that plane went down in the water and nothing floated from it," he told Cormac Boomer.</p>
              
                <p>At 12 noon, the US embassy in Malta offered assistance. A US Air Force P3 Orion aircraft was dispatched from Sigonella Air Base, Sicily, to join the search. The search operation took place from 3- 10 December 1995 and concentrated on the FIR boundaries between Malta, Libya and Tunisia. It met with no success.</p>

                <span class="header-blue">The belt and the battery</span>

                <p>There is no evidence that Captain Bartolo managed to have the torn alternator belt replaced on his aircraft. The idea, therefore, that an experienced pilot would place his own life and that of his passengers in mortal danger by taking off without an alternator belt, into a raging Mediterranean storm, is scarcely conceivable. However, this is the primary conclusion of the Maltese Board of Inquiry:</p>
              
                <p>"Given the known state of the alternator belt from the passengers' account on the outbound flight, the time of night, weather conditions, the time that would be needed to repair same, the pilot flew the aircraft on [a] sole battery [with] limited time," the report stated. "This short duration on battery life resulted in the loss of primary flight instruments, de­-icing equipment, communications, lighting and navigational instruments, making it impossible to complete the flight."</p>
              
                <p>At a sitting of the Maltese Board of Inquiry on 14 May 1997, Piper Corporation Senior Accident Investigator, Paul Lehman, "made reference to the missing alternator belt and the depletion of the aircraft battery." According to the inquiry report:</p>
              
                <p>"He affirmed that a fully charged battery would render 30 minutes of energy. However, considering the energy, required to start the aircraft engine, the remaining battery life would not be more than 10-15 minutes. Moreover he asserted that in flight, once the battery went flat, the pilot would have lost all communications:'</p>
              
                <p>If, therefore, the aircraft did manage to start up and take off with a fully charged engine, Lehman's expert opinion suggests that the energy remaining would allow the pilot to communicate for a maximum of 10 to 15 minutes. This means that by between 3.54am and 3.59am communications between the missing aircraft and Djerba ATC would begin to fail.</p>
                
                <p>The Tunisian report states that at 3.58am Bartolo told Djerba ATC that his estimated time of arrival at the Maltese boundary would be 4.10am and that following this communication all efforts to contact Bartolo failed. However, it is claimed that, at 4.10am, "the Djerba controller switches onto emergency equipment and calls aircraft 9H-ABU."</p>
              
                <p>The Tunisian report states that the pilot relayed the position of the aircraft and acknowledged Djerba ATC's request to contact Maltese Control. Presumably, by then, with a depleted battery, Bartolo would have realised he was in very serious trouble. Yet the Tunisian report clearly states, "the pilot had not indicated any anomalies during his flight in Tunisian airspace."</p>

                <span class="header-blue">A strange tape</span>

                <p>The Tunisian authorities made a copy (not the original) of the alleged recording of the communication between Bartolo and Djerba ATC available in December 1998, three years after the incident. The Maltese inquiry report states, "a copy of the original tape was eventually sent by the Board for examination at Farnborough by the UK Air Accidents Investigation Branch."</p>
              
                <p>Farnborough concluded that "the tone of the pilot's voice appeared to change slightly and the conversation from him appeared somewhat clipped. The content of the voice appeared to contain over this period more high frequencies, giving an indication of some degree of stress or anxiety."</p>
              
                <p>The Maltese report fails to note, however, that the wife and children of Carmelo Bartolo publicly stated, through their lawyer (The Times of Malta, 23 April 1999), that they did not recognise the voice on the tape as that of their loved one.</p>

                <span class="header-blue">Pressing Questions</span>

                <p>Lehman, the Piper Corporation Senior Accident Investigator, told the Maltese Board of Inquiry that following his examination of the recovered wreckage he was satisfied it belonged to Piper Lance 9H-ABU and that it was his expert opinion the aircraft had crashed into the sea.</p>
              
                <p>On Thursday 14 June 2001, Cormac Boomer telephoned Mr. Lehman at the Piper Corporation headquarters in Florida. A number of telephone calls were made before he was eventually put through to a woman who identified herself as a lawyer who was in the presence of Lehman. Lehman and the lawyer conducted the telephone conversation by conference.</p>
              
                <p>Lehman stated he was satisfied the aircraft had crashed into the sea. He was heard saying to his lawyer, "I have no difficulty in answering that" to which she responded, "Okay". He said, "Yes, sir, I believe that to be the case." I then asked Lehman if he could be certain that the aircraft crashed on the night in question. He replied, "No, sir. I can't say that for sure." Lehman later declined  a request for an interview.</p>

                <span class="header-blue">An alternate theory</span>

                <p>In August 1999, Dr Christian Farrugia, a Maltese.lawyer, wrote to the chairman of the Maltese Board of Inquiry criticising its failure to properly investigate the disappearance of the aircraft:</p>
              
                <p>"The Board did not manage to procure the very best evidence available...opted to rely on incomplete testimony and procedurally defective documentation when other alternative routes existed. This wrote Farrugia, "will impinge on the integrity of the Board's final conclusions."</p>
              
                <p>Of particular note was Dr Farrugia's criticism that the Board had failed to investigate allegations made by Captain Bartolo's family that "certain threats of physical harm" had been made against him in the days leading up to his disappearance. "These allegations' Farrugia argued, "raised the possibility of foul play aimed at the pilot in the days leading to his departure on the outbound flight from Malta to Djerba."</p>
              
                <p>The allegations, he stated, "if factually correct, could have placed the whole incident on a totally different investigative plane:'</p>
              
                <p>The fact that Captain Carmelo Bartolo appeared to be in real danger in the days leading up to the disappearance of Piper 9H -ABU is, for members of the Boomer, Williams and Aquilina families, the most probable reason for their loved ones' disappearance - not a plane crash. The families feared a conspiracy of silence between Malta and Tunisia. They believed this is shown by the failure of both governments to properly investigate the alleged accident in a coherent, transparent and sensitive manner, particularly given the international dimensions of their tragic loss.</p>
              
                <p>Amongst several anomalies, they point to the delay and eventual failure of the Tunisian government to hand over the alleged original recording of Captain Bartolo's last flight for forensic analysis, the failure to identify or properly question the fishermen who allegedly found the wreckage, and the failure to have the wreckage sent for forensic examination at an independent and properly equipped laboratory to establish how long the plane lay on the seabed and whether any traces of human tissue could be found in the wreckage.</p>
              
                <p>The Boomer, Williams and Aquilina families believe that their loved ones may have been unwittingly caught in the crossfire of the murky Arab-Israeli conflict. Specifically, they point to a dramatic killing that occurred on the island of Malta five weeks earlier. </p>

                <span class="header-blue">Political murder and mystery</span>

                <p>On 26th October 1995, the leader of Islamic Jihad, Fathi Shqaqi, arrived in Malta, having disembarked from the Libya-Malta ferry Garnata. He was returning from a secret meeting with the Libyan leader, Muammar Gaddafi. Shqaqi entered the island on a false passport to avoid detection. It was his eleventh such trip since mid-December 1993. Unknown to the Jihad lynchpin, he was, on this occasion, being shadowed by members of the Israeli secret service, Mossad.</p>
              
                <p>According to "Soldier of Fortune" magazine, Shqaqi signed his death warrant in January 1995 when he claimed responsibility for terrorist attacks in Israel. The article, by journalists Neil Livingstone and David Halevy, claims the mission to assassinate Shqaqi was codenamed Operation Caesarea.</p>
              
                <p>According to Livingstone and Halevy, by September 1995 some 40 well­ equipped Mossad agents were in Malta posing as "rich tourists together with their wives". They monitored Shqaqi as he passed through Malta on his way to Libya. On the day Shqaqi boarded the ferry, the Massad base in Malta was promptly notified. Livingstone and Halevy claim a speedboat then carried the operation's commander and hit men to Malta from Sicily.</p>
              
                <p>Shqaqi booked into the Diplomat Hotel in Sliema. While he was doing some early afternoon shopping two Massad agents on a dark blue Yamaha XT motorcycle approached him and called his name. Surprised that his real identity was known, he looked around and was immediately shot six times by the pillion passenger.</p>
              
                <p>The "Soldier of Fortune" article claims the hit men were taken to Tigne where they boarded a speedboat once again. In 30 minutes they were back in Sicily together with their commander. From there, it is alleged they boarded a private jet that took them back to Tel Aviv. </p>

                <span class="header-blue">Stories in the press</span>

                <p>On 5 November 1995, a month before the mysterious disappearance of Desmond Boomer and his travelling companions, a local Maltese newspaper, KullHadd, implicated an unnamed pilot as a possible accomplice in the assassination of Shqaqi. The front-page article, written by journalists Joe Mifsud and Felix Agius, claimed that the Shqaqi assassins may have left Malta on a Maltese private plane, flown by a Maltese pilot. Alarmingly, the paper printed alongside this story a photograph of an aircraft which the bereaved families say was similar to one owned by Bartolo.</p>
              
                <p>The Times of Malta, four days later, led with the headline, "Shqaqi's assassins may have left Malta on private plane". The article, penned by journalist Sharon Spiteri, stated that the Maltese police had received information from Interpol detailing how the assassins left the island. The Times stated that no further details could be given, citing security reasons for this. But the article went on to state that "other sources said the police were working on the theory that the men left the island on board a private plane hired from a local company and flown by a Maltese pilot."</p>
              
                <p>The following day, The Times carried a small front-page article saying that the Maltese police commissioner had refuted these assertions. Despite this, the question on many people's mind was the identity of the Maltese pilot. Cecilia Aquilina, mother of Matthew Aquilina, says that suspicion centred on Bartolo, principally because of the photograph of the aircraft which appeared in KullHadd on 5 November.</p>
              
                <p>Two vital questions still hang unanswered. Who was the source of the articles that appeared to finger Carmelo Bartolo as a possible accomplice in the assassination of the Jihad leader? And what was the motivation behind them?</p>
              
                <p>In February 1996, Desmond Boomer's wife Mandy visited Malta in search of the truth. She met journalist Joe Mifsud during her visit. Mandy will never forget his opening remarks to her. They had barely shaken hands when he declared, "This was an unfortunate accident and nothing but that."</p>
              
                <p>This comment was made by Mifsud eight months before Tunisian fishermen allegedly found the wreckage of Flight 9H-ABU and less than two months after the mysterious disappearance.</p>

                <span class="header-blue">Anger on the streets of Tripoli</span>

                <p>On 31 October 1995 crowds gathered outside the Maltese embassy in the Libyan capital, Tripoli. The Libyans were protesting about Shqaqi's assassination. On 1 November, the Times of Malta reported on its front page that the crowds "warned Valletta of unspecified retaliation if it did not arrest the killers of Islamic Jihad chief Fathi Shqaqi," Reuters reported that "crowds demonstrated in Tripoli's streets and outside the Maltese embassy, carrying portraits of Libyan leader Muammar Gaddafi and shouting their "anger and denunciation of this abominable crime."</p>
            
                <p>The Libyan news agency JANA went further. It reported that the crowd outside the embassy "read out a message to the Maltese urging them to arrest Shqaqi's killers or bear responsibility for the consequences of the killing on Libyan­ Maltese ties." The message continued, "the Maltese authorities and the ruling party there bear full responsibility if they do not arrest the terrorists and bear the responsibility for its results on all aspects of Arab-Maltese cooperation."</p>
            
                <p>Arab reaction to Shqaqi's murder was not confined to Libya. The crowd at his funeral in Palestine, where he was declared a martyr, was estimated at a quarter of a million. His wife, Fatiyah, wept over his flag-draped coffin and proclaimed, "This is your promised day, my comrade. This is the day of your trip to paradise."</p>
            
                <p>In the Iranian capital of Tehran the Coordinating Council for Islamic Propagation held a special ceremony "to proclaim consolidation with the Palestinian nation and express hatred towards the Zionist regime and its crimes!' The Tehran Times (l November 1995) reported a similar ceremony, held at the mosque of the University of Tehran, on behalf of the Supreme Leader of the Islamic Revolution, which "branded the Zionist regime as the major sponsor of state terrorism."</p>
            
                <p>The Islamic Jihad Movement in Palestine accused Mossad of Shqaqi's assassination. Writing in KullHadd on 24 October 1999, Joe Mifsud, then researching a book on the Shqaqi assassination, wrote: "The military section of Jihad wanted to effect attacks in Malta as retaliation for the killing of their leader, Fathi Shqaqi... The new leader, Ramadan Shallah, had a hard time to stop these attacks."</p>

                <span class="header-blue">Malta feels the heat</span>

                <p>On 31 October 1995 crowds gathered outside the Maltese embassy in the Libyan capital, Tripoli. The Libyans were protesting about Shqaqi's assassination. On 1 November, the Times of Malta reported on its front page that the crowds "warned Valletta of unspecified retaliation if it did not arrest the killers of Islamic Jihad chief Fathi Shqaqi," Reuters reported that "crowds demonstrated in Tripoli's streets and outside the Maltese embassy, carrying portraits of Libyan leader Muammar Gaddafi and shouting their "anger and denunciation of this abominable crime."</p>
            
                <p>The Libyan news agency JANA went further. It reported that the crowd outside the embassy "read out a message to the Maltese urging them to arrest Shqaqi's killers or bear responsibility for the consequences of the killing on Libyan­ Maltese ties." The message continued, "the Maltese authorities and the ruling party there bear full responsibility if they do not arrest the terrorists and bear the responsibility for its results on all aspects of Arab-Maltese cooperation."</p>
            
                <p>Arab reaction to Shqaqi's murder was not confined to Libya. The crowd at his funeral in Palestine, where he was declared a martyr, was estimated at a quarter of a million. His wife, Fatiyah, wept over his flag-draped coffin and proclaimed, "This is your promised day, my comrade. This is the day of your trip to paradise."</p>
                
                <p>In the Iranian capital of Tehran the Coordinating Council for Islamic Propagation held a special ceremony "to proclaim consolidation with the Palestinian nation and express hatred towards the Zionist regime and its crimes!' The Tehran Times (l November 1995) reported a similar ceremony, held at the mosque of the University of Tehran, on behalf of the Supreme Leader of the Islamic Revolution, which "branded the Zionist regime as the major sponsor of state terrorism."</p>
            
                <p>The Islamic Jihad Movement in Palestine accused Mossad of Shqaqi's assassination. Writing in KullHadd on 24 October 1999, Joe Mifsud, then researching a book on the Shqaqi assassination, wrote: "The military section of Jihad wanted to effect attacks in Malta as retaliation for the killing of their leader, Fathi Shqaqi... The new leader, Ramadan Shallah, had a hard time to stop these attacks."</p>

                <span class="header-blue">Irish government inaction</span>

                <p>Throughout the world the families of the missing men are trapped in a cycle of unending bereavement. In such circumstances it is natural that every detail concerning the last moments of their missing loved ones is analysed for clues that might help find them or, at least, bring closure. Support and solidarity in the quest for truth is essential, especially from their elected representatives and civil service.</p>
            
                <p>On the fifth anniversary of his son's disappearance, Cormac Boomer wrote to the Irish government, asking it to press the Maltese authorities, through the EU, to establish an independent international inquiry. He requested that as part of the EU's favourable review of Malta's application for membership, the government of Malta should be called to account for its handling of the investigation into the plane's disappearance.</p>
            
                <p>"My experience has lead me to the conclusion that the Maltese authorities will continue to ignore the lonely voices of the bereaved until such times as my own government, the British government and the European Parliament support our demand for truth and accountability, based on international standards."</p>
            
                <p>Cormac Boomer said that his family's struggle for Maltese accountability has been carried on in profound isolation, with virtually no official support. Correspondence and discussions with the Irish Department of Foreign Affairs, while cordial, have served only to compound his sense of having to struggle alone. The last letter he received, dated 31 January 2001, signed by Breifne O'Reilly, Private Secretary to the Minister for Foreign Affairs, Brian Cowen, is an example.</p>
            
                <p>O'Reilly informed Cormac Boomer that the Taoiseach had raised the matter of his missing son during a visit to Malta earlier that month.</p>
            
                <p>He wrote: "the Taoiseach ... asked the Maltese authorities whether there was anything else they could do ... to establish what happened to Desmond. There was no further advice nor assistance the Maltese authorities could offer'</p>
            
                <p>The fact that the Taoiseach appeared not to be briefed with a list of pertinent questions and demands on behalf of grieving Irish citizens with well-founded concerns suggested the Boomer family's tragic loss was at the bottom of the government's Maltese priorities. Indeed, O'Reilly's following paragraph seemed to confirm this to the Boomer family:</p>
            
                <p>"With regard to your request that the Irish government seek an independent judicial inquiry;' he wrote, "the Minister considers that such a move would imply a lack of confidence in the report of the [Maltese] Board of Inquiry and that, as a serious implication of that nature would be likely to damage our relations with Malta, it would not be in Ireland's overall interest to accede to your request. He is sorry that there is no other appropriate action open to the Irish government."</p>
            
                <p>The Private Secretary, however, concluded his letter with a suggestion from Mr Cowen that, "you consider taking legal advice as to the possibility of challenging in the Maltese courts what you see as omissions from the matters investigated by the Board of Inquiry or shortcomings in its procedures or its report."</p>
            
                <p>It's a good suggestion but, without official funding, an insensitive one. To date, the financial cost of Cormac Boomer's search for his son has been considerable. It is a search that he and his wife Alice have carried out at their own expense. The Boomers would be quite prepared to respond positively to the Minister's suggestion but, as senior citizens in their mid-70s, they had all but exhausted their resources. They have made ten visits to Malta to attend various sittings of the Board of Inquiry.</p>
            
                <p>"If the Irish government supports us' Cormac Boomer said, "we would gladly challenge Malta's handling of our son's disappearance in the Maltese courts."</p>
            
                <p>Cormac Boomer felt a sense of profound disappointment towards former political colleagues in Northern Ireland. He was involved with the SDLP for 20 years, 16 of which he spent as a Belfast City councillor. Despite this, he has received absolutely no assistance from any northern politicians.</p>
            
                <p>"I have written to MEPs and MPs;' he says, "and sent them documentation and information files. To date, only Gerry Adams MP and Jim Nicholson MEP did me the courtesy of a reply'</p>

                <span class="header-blue">Sitting on the fence</span>

                <p>On 3 December 2002, Desmonds wife, Mandy officially became a widow.</p>
            
                <p>Exactly seven years and one day after she last spoke to her 38-year-old husband on a long­ distance telephone call.</p>
            
                <p>On 6 August 2002, she had written a poem entitled "Questions Unanswered"</p>
            
                <p><span style="font-style: italic;">Years have gone by, with still no word<br>If anything is known, none of us has heard<br>We're only people of no consequence<br>Those who may know stay quiet<br>They sit on the fence</span></p>
            
                <p>That Mandy should consider herself and children to be abandoned as "people of no consequence" is a sad indictment of a nation whose passport her husband carried.</p>
            
                <p>Robust official support is long overdue for the all the families. The Boomer family want to escape the nightmare of not knowing and&nbsp;they want the Irish government, northern politicians, and MEPs, north and south, to help them find the truth.</p>
            
                <p>We are not seeking to establish one theory over another just to simply know what happened on that mysterious night sixteen years ago.</p>
            
                <p>Experience has taught our family that they cannot do it without official government support&nbsp;and nor should any of us have to.</p>

            </div> <!-- end of main text area -->
 
        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->
        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="main.js"></script>

    </body>
</html>
