/* *****************************************************************************************
/* recommended media breakpoints
/* *****************************************************************************************

    /* Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }                       */

    /* Medium devices (tablets, 768px and up) 
    @media (min-width: 768px) { ... }                       */

    /* Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }                       */

    /* Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }                      */

/* *****************************************************************************************    */

/* ******************************************************************************************   */
/* mobile first approach - any rules above the media queries will apply to entire layout        */
/* unless overridden by a specific media query                                                  */
/* ******************************************************************************************   */
h3 {
    margin: 10px 0px 0px 10px;
    padding: 0px;
}
p {
    margin: 10px;
    padding: 0px;
}
#main-text-area .main-text .results a.result-link {
    color: blueviolet;
}
#filter-container {
    background: rgba(0, 0, 255, 0.05);;
}
#search-form {
    border: 1px solid grey;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1px;
}
.drop-down {
    display: flex;
    align-items: center;
    padding: 2px;
/*    border: 1px dotted grey;*/
}
fieldset {
    padding: 10px 10px;
}
#search {
/*    border: none;*/
    width: 100%;
}
#searchBox {
    width: 90%;
    border: 1px solid black;
    border-right: none;
    font-size: 16px;
    padding: 1px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#searchBtn {
    border: 1px solid black;
    border-left: none;
    font-size: 16px;
    padding: 1px;
    background: lightblue;;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchBtn:hover {
    background: turquoise;
}
.results {
    font-family: arial;
}
.results:hover {
    background: rgba(0,0,0, 0.05);
    border: 1px solid black;
}

/* ********************************************** MEDIA RULES********************************   */

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 576px) {
    #filter-container {
/*        background: red;*/
    }
    #search-form {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    #searchBox {
        width: 80%;
    }
    fieldset {
        padding: 10px 10px;
    }
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 768px) {
    #filter-container {
/*        background: lightgray;*/
    }
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 992px) {
    #filter-container {
/*        background: lightgreen;*/
    }
    #search-form {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
        grid-template-rows: auto;
    }
    #searchBox {
        width: 80%;
    }
    fieldset {
        padding: 10px 10px;
    }
    .drop-down {
        justify-content: center;
    }
}

/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 1200px) {
    #filter-container {
/*        background: lightyellow;*/
    }
    #searchBox {
        width: 85%;
    }
}
