/* *****************************************************************************************
/* recommended media breakpoints
/* *****************************************************************************************

    /* Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }                       */

    /* Medium devices (tablets, 768px and up) 
    @media (min-width: 768px) { ... }                       */

    /* Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }                       */

    /* Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }                      */

/* *****************************************************************************************    */

/* ******************************************************************************************   */
/* mobile first approach - any rules above the media queries will apply to entire layout        */
/* unless overridden by a specific media query                                                  */
/* ******************************************************************************************   */

/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/
* {
    margin: 0;                              /* remove all preset margins */
    padding: 0;                             /* removes all preset padding */
    box-sizing: border-box;                 /* padding & border are subtractive */
}
html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #555;                            /* this is a grey */
}
#body-top {
    background: rgba(255,0,0,0.25);         /* TODO - pink - remove this once sizes are correct */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #555;                            /* this is a grey */
}
a{
    color: white;                           /* anchor tags need their own color rule */
}    
/* **************************************************************************************** */
/*                                        MAIN TEXT BODY                                    */
/* **************************************************************************************** */

.header-blue {
    display: block;
    background-color: lightblue;
    color: black;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    padding: 1px;
    border: 1px solid grey;
  }

/* **************************************************************************************** */
/*                                        NAVIGATION MENU                                   */
/* **************************************************************************************** */
#header-menu {
    background-color: rgba(0,0,0,0.7); 
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 10px 10px;
    font-size: 14px;

    /* this controls the logo and the ul containing the menu items */
    display: flex;
    justify-content: space-around;
}
#header-menu nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;               /* align the text to right side (end) of the box       */
    
    width: 100%;
    list-style: none;                       /* remove decoration from tags                          */
    font-size: 14px;
}
#header-menu a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}
#header-menu a:hover {
    opacity: 1;
}
#header-menu nav li {
    margin: 0 6px;
}
#header-menu nav li:first-child {                 /* set the first menu item (child) to the left side of the menu */
    margin-left: 0;
}
#header-menu nav li:last-child {
    margin-right: 0;                              /* set the last menu item (child) to the right side of the menu */
}       
#body-top .the-missing {                          /* display the missing below the menu                             */
    padding-top: 100px;
}

/* ****************************************************************************************  */
/*                               MISSING PERSONS                                             */
/* ****************************************************************************************  */
.the-missing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 10px 0px 10px;
    background-color: white;
    list-style: none;
    text-align: center;
}
.missing-person h3 {
    font-size: 16px;
    padding-bottom: 5px;
}
.missing-person p {
    font-size: 12px;
    padding-bottom: 5px;
}


/* ******************************************************************************************   */
/* apply to any device that has a screen width of 576px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 576px) {
    #body-top { 
        background: rgba(255,255,0,.25);                /* YELLOW-ish */
    }
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 768px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 768px) {
    #body-top { 
        background: rgba(0,255,0,.25);                  /* GREEN  */
    }
    .the-missing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 992px or higher                               */
/* ******************************************************************************************   */
@media screen and (min-width: 992px) {
    #body-top { 
        background: rgba(0,0,255,.25);                  /* BLUE */
    }
    .the-missing {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
/* ******************************************************************************************   */
/* apply to any device that has a screen width of 1200px or higher                              */
/* ******************************************************************************************   */
@media screen and (min-width: 1200px) {
    #body-top { 
        background: rgba(150,150,150,.25);              /* GRAY */ 
    }
}
