<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Fax from Cecilia to Cormac re: new evidence in Lockerbie trial</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Fax from Cecilia to Cormac re: new evidence in Lockerbie trial. Journalist Joe Mifsud reports from Camp Zeist on new evidence being presented by the owner of the printing press used to make the tags for luggage placed on the Pan Am flight" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cecilia Pelligrini" />
      <meta name="category" content="Lockerbie" />
      <meta name="created-day" content="29" />
      <meta name="created-month" content="May" />
      <meta name="created-year" content="2000" />

        <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
        <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Fax from Cecilia to Cormac re: new evidence in Lockerbie trial</span>

                <p></p>
                
                <p style="text-decoration: underline"><strong>TRANSLATION</strong></p>

                <p><strong>"THE ACCUSED HAD EXPLOSIVES STORED IN THE AIRPORT TO EXPLODE ALL MALTA"</strong></p>

                <ul>
                    <li>Some of the Maltese witnesses are going to be heard in Malta</li>
                    <li>a Maltese printing press owner drops version of the prosecution</li>
                    <li>a Maltese witness is given discrete protection.</li>
                </ul>

                <p><strong>Journalist: Joe Mifsud reports from Camp Zeist</strong></p>


                <p>The main witness Libyan Abdul Magit Jiacha insisted with the Americian and Scottish investigators that the two Libyans Lamin Fhlmah and Al Megrahi had stored a large quantity of explosives in the offives of the Libyan Arab Airlines in the Malta airport, that could have exploded all Malta. </p>
                
                <p>A proof of what the libyan is saying does not existand the prosecution will be in a difficult position becuase the office being referred to was in a very accessible one, samll and there was no place to store the quantity of explosives.</p>
                
                <p>The American investigators are going to have a hard job to prove how Jiacha that had been meeting them since August before the tradegy on the 21st December 1988, had been informed of what was going to happen, because he either let the tradegy happen when could have avoided it or else it is not true that he solid information that is said he had.</p>
                
                <p>The key Libyan witness had been taken to the American embassy in Malta by a Maltese national at the time working in Malta and today lives in St. Pauls bay. This Maltese witness that the prosecution wants to keep her name confidential (hidden), received payment for translations of the declarations made by Magit Jiacha. This newspaper managed to find out who this person is and they are informed that she is being given very discrete protection.</p>
                
                <p>In the office of the Scottish Attorney Generalstarted with discussions so that a number of Maltese witnesses will be heard in Malta through satellite. For this purpose arrangements will be made for parts of the Mediterranean Conference Center will be used for the Maltese will witness in direction transmission that the Scottish judges will be able to see, the procesution and the defence here in Camp Zeist.</p>
                
                <p>It seems that the Maltese witnesses are going to be called to witness on the 17th of July. Before these persons Anthony Busuttil will witness before them. Profs Busuttil lead the inquiry of the pathologists of Lockerbie whne the tradegy took place.</p>
                
                <p>An import witness of the defence is expected to be an owner of the printing rpess in San Gwann. The witness can stop or drop a crucial proof that the procsecution is presenting in the jury of the two Libyans.</p>
                
                <p>A note in the diary of one of the two Libyans in the 15 december 1988 page is going to be used by the prosecution to show how the plan was being done for the explosion of the Pan Am plane.</p>
                
                <p>The note says (on the diary) to remember to take the tags. All the notes in the diary page are Arabic language except for this note about the tags.</p>
                
                <p>The prosecution is sustaining that  it was a note to remind Libyan Lamin Fhimah so that he will take the tags to later on - on the the 21st December he would fix tags to luggage and send it to the Frankfurt flight.</p>
                
                <p>Interesting is that the alibai by the defence for the version being given by the prosecution. Lamin Fhimah says that he had got to now the printing press owner that has a printing press in San Gwann and they had discussed the possibility that he work of the national Libyan company will be printed here. For this purpose Fhimah had to take a sample of the tags for the printing press owner to give hima quotation for how much will cost thousands of these tags.</p>
                
                <p>According to Fhimah was for this purpose that he put a note in his diary to remember to do this. Another note that is in the diary is to remember to go the printing press with the tag. This note is written down together with a list of other things that Fhimah had to do.</p>
                
                <p>The Maltese printing press owner is expected to be called by the defence to give his version of the facts. The defence has 117 witnesses to back their case that the two Libyans are innocent. At the moment the prosecution is investigation about the persons that put forward the defence.</p>
                
                <p>On the 23rd May the jury is expected to meet - the jury where the witnesses about the case will continue to be heard.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
