<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>>Letter to Editor of Irish News from Cormac Boomer</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Letter to Irish News expressing disappointment that the Irish government was willing to intervene to help the 'Columbian Three' but were unwilling to help as they didn't want to upset the Maltese government" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="Newspaper" />
      <meta name="created-day" content="14" />
      <meta name="created-month" content="February" />
      <meta name="created-year" content="2003" />
      
      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
      <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter to Editor of Irish News from Cormac Boomer</span>

                <div class="letter-head">
                    <p>36 Riverdale Park North<br>Belfast BT11 9DL</p>
                </div>  
                
                <p>The Editor<br>Irish News<br>Dear Sir</p>
                
                <p>I refer to your recent article in which Fianna Fail Senator, Mary White, called on the Irish Government to intervene on behalf of the “Colombian Three” (Irish News, 8/O2/03). In response she received a sharp rebuke from Government partner, Fiona O’Malley, TD, of the Progressive Democrats, who robustly defended the Government’s position on this matter. In the process Ms. O’Malley made some telling remarks about the FF/PD coalition’s attitude to the general question of assistance for Irish nationals at home and abroad who need assistance from the Department of Foreign Affairs or its Diplomatic staff abroad. Our own experience is a case in point. 
                    
                <p>Over seven years ago my son Desmond disappeared on the island of Djerba in Tunisia, while returning home from the Libyan oilﬁelds where he worked as an engineer. He was reported to have been a passenger on a small aircraft that crashed into the Mediterranean Sea at around 3.20am on 5 December 1995 while on route to Malta. The Government of Malta set up an inquiry the quality of which would have made Lord Widgery blush. This enquiry ran for four years and came up with the conclusion of pilot error, notwithstanding evidence that both he and a number of his passengers, Desmond included, had telephoned loved ones stating they would not ﬂy until the next day due to a raging Mediterranean thunder storm. Furthermore, the aircraft required major repairs before take-off and there is absolutely no evidence that this was done. I do not believe the light single-engine aircraft ever took off, let alone crashed.</p>
                
                <p>After ﬁve years of physical and financial exhaustion I wrote the Minister for Foreign Affairs, Brian Cowan TD, requesting assistance. I had hoped that my Government would make representations to the Government of Malta to ensure that an independent enquiry would be held into the incident. To help us ﬁnd closure we need, and still require, the establishment of the full facts surrounding the disappearance of our son, his four travelling companions, and pilot Carmelo Bartolo.</p>
                
                <p>The Minister’s response, though his private secretary, was polite but left us seething. I quote: “. . .With regard to your request that the Irish Government seek an independent judicial inquiry, the Minister considers that such a move would imply a lack of confidence in the report of the [Maltese] Board of Inquiry and that, as a serious implication of that nature would be likely to damage our relations with Malta, it would not be in Ireland’s overall interest to accede to your request. He is sorry that there is no other appropriate action open to the Irish Government.”</p>
                
                <p>The Minister’s Private Secretary, however, concluded his letter with a suggestion from l\/Ir. Cowen that “you consider taking legal advice as to the possibility of challenging in the Maltese courts what you see as omissions from the matters investigated by the Board of Inquiry or shortcomings in its procedures or its report.”</p>
                
                <p>Seven years since the disappearance of Desmond, this latter suggestion is a ludicrous one, without Government support, given the huge costs my wife and I, now senior citizens, have already incurred without even the slightest Diplomatic assistance from our Government. With no public support, and little investigative interest to date from the media, it seems the Government can cast us aside and politely tell us that we are on our own and that our tragedy is of little interest to it within the greater scheme of international events. Nonetheless, our suffering is real and I know, if it was the Minister’s son who was missing, the full weight of the Government and the media would be supporting his determination for accountability and transparency on the part of the Maltese Government.</p>
                
                <p>Based on our experience to date, the disquieting implications in all of this would seem to suggest that if you are a law abiding Irish citizen, travelling on an Irish passport and ﬁnd yourself in trouble abroad, do not expect a FF/PD Coalition Minister or his Government to come to your assistance.</p>  
                    
                <p>Yours faithfully<br>Cormac Boomer</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
