<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Aviation Incident Enquiry, Court Of Enquiry 27 June 1996, Evidence of Major Joseph Mifsud</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Aviation Incident Enquiry, Court Of Enquiry 27 June 1996, Evidence of Major Joseph Mifsud" />
    <meta name="author" content="Dr. Philip Sciberras LL.D." />
    <meta name="category" content="inquiry" />
    <meta name="created-day" content="27" />
    <meta name="created-month" content="June" />
    <meta name="created-year" content="1996" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Aviation Incident Enquiry - Evidence of Major Joseph Mifsud</span>

                <h3 style="text-align: center;"><strong>Aviation Incident Enquiry - Court Of Enquiry 27 June 1996</strong></h3>

                <p><strong>Chairman:</strong> Dr. Philip Sciberras LL.D.</p>
                <p><strong>Members:</strong> Pilot Franz Sturmeir<br />                Mr Louis Giordimaina</p>
                <p><strong>Date: 27th June 1996</strong></p>

                <p><strong>Maj. J. Mifsud :</strong>Last week I was asked to provide the two sigmets that went out, copies of them and the recipients. I also have a copy of the warnings that were issued and their recipients.</p>
      
                <p><strong>Chairman:</strong> Doc. JM5 and Doc. JM 6</p>
      
                <p><strong>Maj. J. Mifsud:</strong> The sigmets were addressed to Luqa tower, Air Malta Flight Ops, Motney Centre Rome, Tunis, Air traffic Control, Com Centre in the Northern Office and Tripoli Met. There are other recipients there is Carloom, Fort Lami, Damascus, Cairo and Algiers Met. The procedure is this when we send the sigmet or the warning via FTN locally we ring up ATC and Air Malta to check whether they have received these warnings or these sigmets. In fact in the case of the tower there was person named Magri who confirmed that he received via FTN these messages.</p>
      
                <p>In the case of Air Malta Flight Ops there was Mr. Cousin in one case and the other one Mr. Gauci confirmed that these messages were received. In the case of the warnings, the warnings which were issued, I have warning No 2 and warning No 3, the list is limited to just to local airfield warnings and the requirement is for us to send them to the tower gain Air Malta Flight Ops and Tripoli Met. In the case of those two, again the tower and Air Malta Flight Ops I have confirmation that they were received and those ends.</p>
      
                <p><strong>Dr. Borg Barthet:</strong> That is all the documentation you have on the case?<strong> </strong></p>
                <p><strong>Maj. J. Mifsud:</strong> That was what was required of me if I am not mistaken.</p>
                <p><strong>Dr. Borg Barthet:</strong> Do you have anything further you would like to add?</p>
                <p><strong>Maj. J. Mifsud:</strong> I have nothing to add except that I would wish to inform you that on Sunday I will be away from the island up to the 11th of July.</p>
                <p><strong>Chairman:</strong> After we have studied the documents, maybe at a later date we will call you. You may leave. Your next witness.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
