<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Fax from Daniel Aquilina to Padraig Coyle re: article</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Fax from Daniel Aquilina to Padraig Coyle that lays out very clearly the expectation that the article should avoid any mention of 'psychics' and that the family wanted to review the article before it was published. These requests were ignored by the journalist" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Jim Dougal" />
      <meta name="category" content="EU" />
      <meta name="created-day" content="25" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2001" />

        <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
        <link rel="stylesheet" href="../styles.css">
    
        <style>
            table {
                width: 100%;
            }  
        th {
            border: 1px solid #dddddd;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            padding: 5px;
            width: 100%;
        }
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px;
            width: 50%;
        }
        .highlight {
            font-weight: bold;
        }
      </style>
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Fax from Daniel Aquilina to Padraig Coyle re: article</span>

                <p></p>
                
                <table>                
                    <tr><th>FAX TRANSMISSION</th></tr>
                    <tr><th>Facsimile Transmission Sheet</th></tr>
                </table>

                <table>                
                    <tr class="highlight"><td>TO:</td><td>FROM:</td></tr>
                    <tr><td>  Padraig Coyle</td><td>   Daniel Aquilina</td></tr>
                    <tr class="highlight"><td>COMPANY:</td><td>DATE:</td></tr>
                    <tr><td>  BBC</td><td>  10/11/00</td></tr>
                    <tr class="highlight"><td>FAX NUMBER</td><td>TOTAL NO OF PAGES INCLUDING COVER</td></tr>
                    <tr><td>  00 44 2890 426920</td><td>   3   </td></tr>
                    <tr class="highlight"><td>PHONE NUMBER</td><td>SENDERS REFERENCE NUMBER</td></tr>
                    <tr><td>  00 44 190 338 000</td><td>  FAX NO C/O 00356 234407</td></tr>
                    <tr class="highlight"><td>RE: PIPER LANCE DISAPPEARANCE</td><td>YOUR REFERENCE NUMBER</td></tr>
                    <tr><td>  3rd December 1995</td><td>                       </td></tr>
                    <tr class="highlight"><td><input type="checkbox" checked/>URGENT <input type="checkbox"/>  FOR REVIEW  <input type="checkbox"/> PLEASE COMMENT</td><td><input type="checkbox"/>PLEASE REPLY <input type="checkbox"/>PLEASE RECYCLE</td>
                    </tr>
                    <tr><td>Notes/Comments</td><td></td></tr>
                </table>

                <p>Dear Mr. Coyle</p>

                <p>Further to your telephone conversations with my mother regarding the disappearance of my brother Matthew together with 5 other men allegedly on board Piper Lance 9H-ABU on the 3rd December 1995</p>

                <p>First of all, allow me to thank you for your interest in our case. Five long years have dragged on since the disappearance of our loved ones and we are still in the dark regarding their whereabouts or their fate, as we were back in 1995.</p>

                <p>The families involved, as the Boomer family may well confirm, attended court inquiry sittings, and participated in television programs. We chased ministers at their offices and homes and contacted anyone who could possibly shed light on the events of the 3rd December 1995. We compiled dozens of files of correspondence and relevant documents. I was myself personally involved in searches by air and by sea, including the scanning of the seabed with sonar equipment. we wrote innumerable articles in newspapers whether in our own name or through journalists on our behalf. All these efforts have not yet led us to the truth. We have experienced anguishr, shock, disbelief, anger, sadness, helplessness and pain...and the authoritoies involved remain totally insensitive to our feelings and our rights.</p>

                <p>Allow me to remark that your contribution is naturally welcome, however, experiences over the last five years have taught us a lesson. We were often mis-quoted for the sake of sensationalism or fear of political repercussions and in light of this , we recently asked journalists to forward the final version of their article to us in order that we may check that all is in fact correct and faithfully reproduced information. I am certainly not questioning yoyr professionalism as a journalist; all I am doing is kindly asking that you forward your final version before it gets printed and published.</p>

                <p>My mother has also informed me that you will be emphasising on the personal "human" aspects of the case in addition to the much needed investigated element. This personal element, in fact, confirms the importance of forwarding the of your final version to us for our confirmation of facts quoted regarding the lived of our loved ones.</p>
                
                <p>My mother also mentioned to me that you intend writing about the fact that some family members even contacted so-called psychics to try and lead us to at least one indication of what might have happended that night , only resulting in false hopes and nothing else. With regards to this point let point out the following:</p>

                <p>It is my opinion that this is no business of the public in general; it was a desparate attempt of families quenching for information about their loved ones and their whereabouts</p>
                
                <p>The result of the "pyschic sessions" was a total mess, false hopes that soon inevitably fizzled out.</p>

                <p>In your article you will be talkking about veryy serious matters indeed. You will be sayoing that this case may in fact be linked to the assassination of Fathi Shqaqi, outside the Diplomat Hotel in Sliema in October 1995 and that the p=ilot of the Piper Lance was in fact suspected of flying the assassins out of Malta. Thus it is crystal clear that talking about "psychics" in teh same article would not be fair to the families involved due to the privacy of such actions but would furthermore ridicule an otherwise very serious and politically-sensitive article.</p>

                <p>I believe that I have already sent you Matthews homepage where you will find some useful contact information. In addition to that may I suggested that you contact me by email at the following address: dja@mail.global.net.mt. I could forward attachments to you such as the article that appeared in The People (now defunct local journal) and other relevant information. Please be sure that you do not publish anything before we are forwarded a final draft.</p>

                <p>In conclusion it must be made clear that my family will hold you personally responsible for anytghing printed and published without or knowledge and approval. Having said that, however, allow me to extend my heartfelt thanks for yoyr understanding in this matter.</p>
                
                <p>It is persons' serious and professional approach to a very delicate issue that encourages us to continue in our search for information on the wherabouts of my brother and the other passengers.</p>
                
                <p>Please do not hesitate to contact me should you require any information or clarification.</p>
                
                <p>Yours Sincerely</p>
                
                <img src="article-images/daniel-aquilina-sig.jpg" alt="Daniel Aquilina Signature"/>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
