<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Letter from Daniel Aquilina to Joseph Bianco</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Letter from Daniel Aquilina to Joseph Bianco regarding asking if the MMA Hydrographers would be available to help in a new search" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Daniel Aquilina" />
      <meta name="category" content="Search" />
      <meta name="created-day" content="15" />
      <meta name="created-month" content="May" />
      <meta name="created-year" content="2000" />

        <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
        <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
        <link rel="stylesheet" href="../styles.css">
    
        <style>
            #eu-logo {
                display: flex;
                flex-flow: row wrap;
            }  
        </style>
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter from Daniel Aquilina to Joseph Bianco re: new search</span>

                <p></p>
                
                <p style="text-align: right">
                    Oakridge /2<br>
                    Sur Fons Str.<br>
                    St Julians<br>
                    SLM 05<br>
                </p>

                <p>Mr Joseph Bianco<br>
                    Malta Maritime Authority<br>
                    Ports Directorate<br>
                    Marina Pinto<br>
                    Valletta VLT 01<br>
                    Malta<br>
                </p>

                <p style="text-align: right">15th May 2000</p>
                
                <p><strong>Ref: Piper Lance Disappearance, December 1995</strong></p>

                <p>Dear Mr. Bainco, <br>
                <br>
                As you will recall, back in November 1996, a team of MMA hydrographers ably led by your goodself, formed part of the search party aimed at collecting more information or evidence relating to the disappearance of my brother MAtthew and and the other passengers allegedly travelling on Piper Lance 9H-ABU on the 3rd December 1995. Unfortunately, bad weather prevailed and only about 25% of the process was completed.<br>
                <br>
                Though the Report of the Investigating Board has recently been publishsd, the entire disappearance is still shrouded in mystery and the families of the missing persons are still living in uncertainity and grief. Recently I met the owner of the vessel that was kindly given to us for that particular search and upon seeing my determination to go out there again, he kindly offered his assistance in organizing anotehr search operation. I under stand that sand movements and currents over the years will only make scannoing and recovery more difficult but I would like attempt it in any case.<br>
                <br>
                Before contacting the Ministry for possible assistance, I wanted to contact you first in order to confirm that you would, once more, be in a position of helping us by providing your preofessional services for a few days.<br>
                <br>
                Whilst thanking you for your attention, I remain,<br>
                <br>
                Yours sincerely<br>
                <br>

                <p>Daniel Aquilina</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
