<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Email thread between Don Mullan, Cormac Boomer, Cecillia Pellegrini</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email thread between Don Mullan, Cormac Boomer, Cecillia Pellegrini discussing articles published in Kullhad and the Times Malta" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Don Mullan" />
      <meta name="category" content="email" />
      <meta name="created-day" content="26" />
      <meta name="created-month" content="November" />
      <meta name="created-year" content="2002" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email thread between Don Mullan, Cormac Boomer, Cecillia Pellegrini</span>

                <p>From: Don Mullan (dbmullan@indigo.ie)<br>
                    To: Cecilia Pellegrini Petit (cpetit@attardco.com)<br>
                    Cc: cormac.boomer (cormac.boomer@ntlworld.com); (MD6056@aol.com)<br>
                    Sent: 26 November 2002 00:56<br><br>
                    Subject: Re: Hi Don<br><br>
                    Cecilia,</p>

                <p>Thank you for your emails and offers of help. I ask you to treat this email in strict confidence.</p>
                
                <p>Cormac has probably told you about my growing suspicion. l believe the protest held outside the Maltese Embassy in Tripoli a day or two after the assassination of Shqaqi is key. I need to get as much information on the protest as possible. What date did it take place? Who precisely organised the protest? How many attended? What threats were shouted? What exactly was contained in the protest letter that was handed into the Embassy by the protesters? What were the links between the protesters and Shqaqi‘s Islamic Jihad?</p>

                <p>We must then try to gauge the threat assessment which the Maltese authorities undertook. Did they consider the threats made by the protesters to be real and potentially life threatening to Maltese citizens on the island or to their diplomatic staff in Libya? If so, what were the options they may have considered by way of protection and security?</p>

                <p>I am highly suspicious of the motives behind the unsubstantiated and uncorroborated article which appeared on the front-page of 'KullHadd' on 5 November 1995, followed by a similar article on the front-page of the Maltese Times on 9 November 1995. Both suggest that Shqaqi's assassins escaped the island on a Maltese private plane. Reprehensibly, the KullHadd carried a picture of an Excelair aircraft without any attempt to conceal the company's identity. Why? Why was the KullHadd article essentially reinforced in the Times of Malta four days later?</p>

                <p>One cannot rule out the possibility that in an effort to appease Islamic fundamentalists who were vying for revenge and making dangerous threats against Malta, a decision may have been made to offer them a sacriﬁcial lamb. If so, was that lamb pilot Carmel Bartolo?</p>

                <p>My suspicions are reinforced by information I have concerning the Mussad operation to assassinate Shqaqi. It would appear the assassins arrived by high speed boat from Sicily and returned that way before flying back to Tel Aviv. Where precisely was their motorcycle found on the island? Was it close to the airport?</p>

                <p>In addition to the above questions I need a very clear copy ofthe front-page of KullHadd of 5 Nov 1995. I also need a very clear and precise translation of the entire article together with the captions under the three photographs which appear. There is also a short article about the assassination of Israeli Prime Minister Rabin, and I'd like to have a translation of this also.</p>

                <p>I can't, of course, prove any of this but we are entitled, nonetheless, to ask questions and seek accountability from the Maltese authorities given the national and international dimensions of the mystery. This theory might explain the apparent determination of the 'Sciberras Inquiry‘ to blame the pilot and try to convince us that Matthew and his travelling companions perished in an aviation accident.</p>

                <p>I will have many more questions Cecilia and will deeply appreciate your help. But, for now, these will be most helpful.</p>

                <p>Sincerely,</p>
                <p>Don Mullan.</p>

                <hr>
                
                <p>From: Don Mullan (dbmullan@indigo.ie)<br>
                    To: cormac.boomer (cormac.boomer@ntIworld.com)<br>
                    Sent: 25 November 2002 23:57<br><br>
                    Subject: Re: Motorbike</p>

                <p>I had an email from Cecilia upon my return from Belfast I thought I might have seen you at the hearings. It was incredibly busy Cormac and I had the talk of chairing the whole event which involved keeping all the detail flowing and the lawyers under harness. We had only two days so the time constraints were immense.</p>

                <p>I'd love to know where the bike was found, was it close to the airport, I wonder.</p>

                <p>Take care for now Cormac. I'll talk to you soon.</p>

                <p>Don</p>

                <p>----- Original Message -----</p>

                <p>From: cormac.boomer<br>
                    To: Don Mullan<br>
                    Sent: Monday, November 25, 2002 9:28 PM<br>
                    Subject: Motorbike<br><br>
                    Don </p>

                <p>I spoke to Cecilia today she conﬁrms that the police found the bike in question and there was a photo of it in the press at that time, she is to look it up together with the other items you asked for and she will forward as soon as possible. Regarding the investigation in New Lodge this appears to have been a success the reports were quite good, the British have much to answer for but like Bloody Sunday the truth will eventually come out.</p>

                <p>Will be in Touch</p>

                <p>Cormac</p>

                <p>----- Original Message -----</p>

                <p>From: Cecilla Pellegrini Petit<br>
                    To: dbmullan@indigo.ie<br>
                    Sent: Monday, November 25, 2002 11:02 AM<br><br>
                    Subject: Hi Don<br><br>
                    Hi Don,</p>

                <p>hope you got my last email to you. Cormac told me that you require some documentation (newspaper cuttings) which I will send to Cormac to pass on to you. Should you require further info. or docs. pls let me know and thanks for your help.</p>

                <p>rdgs</p>

                <p>Cecilla.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
