<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Translation - One of the killers lived in Sliema Before and after the murder of Shqaqi</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Translation of article in Kullhadd discussing the events leading up to the assassination of Fathi Shqaqi. Also mentions the motor cycle parked in front of the hotel being moved to Sir Arturo Mercieca Street. The attackers escaped from Tower Road, went into Sir Arturo Mercieca Street and took off. The motorcycle was found in Manuel Dimes Street in Sliema. From Sir Arturo Mercieca Street, the killers proceeded towards Victoria Avenue, drove to Dingli Street passing through St. Mary Street and into Manwel Dimech Street, passing by the Sliema Police Station" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Joe Mifsud Felix Agius" />
      <meta name="category" content="newspaper" />
      <meta name="created-day" content="05" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2003" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Translation - One of the killers lived in Sliema before and after the murder of Shqaqi</span>

                <p>From: Cecilia Pellegrini Petit (cpetit@attardco.com)<br>
                To: cormacboomer (cormacboomer@ntlworld.com)<br>
                Sent: 06 January 2003 11:28<br>
                Subject: Fw: KULLHADDCEC5Nov95
                </p>
                
                <p>---- Original Message -----<br>
                From: Cecilia Pellegrini Petit <br>
                To: dbmullan@indigo.ie<br>
                Sent: Monday, January O6, 2003 11:47 AM<br>
                Subject: Fw: KULLHADDCEC5Nov95</p>

                <p>Don,</p>

                <p>another translation.</p>

                <p>Cecilia.</p>

                <p>Sent: Monday, January O6, 2003 6:56 AM<br>
                Subject: KULLHADDCEC5Nov95<br>
                REF: KULLHADD 5th November 1995<br>
                <br>
                Page 1 - 2<br>
                </p>

                <p style="font-size: 20px; font-weight: bold;"> One of the killers lived in Sliema Before and after the murder of Shqaqi</p>

                <p style="text-decoration: underline">Reporters Joe Mifsud and Felix Agius</p>

                <p>One of the killers of Fathi Shqaqi lived in Sliema. The landlord (not licensed to keep lodgers) greets guests without requesting a passport.</p>

                <p>The foreigner who knew Arabic had been in Malta for several days and did not return to the boarding house after the killing.</p>

                <p>It has not yet been established where the second person present during the killing was residing nor the other person usually in their company and undoubtedly assisted them to escape via Manuel Dimes Street close by the Post Oﬁice where the motor cycle was found.</p>

                <p>From a press release in this paper that, after the murder, the two persons involved were seen at Msida by the Yacht Marina. This could be an indication that they planned to escape by sea</p>

                <p>However, one cannot exclude the fact that the murderers could have left Malta by air. In all probability the murderers split up.</p>

                <p>There were two private flights to Djerba (Tunisia) just after the killing. The ﬁrst ﬂight. carrying only two passengers took of at 4;51pm. The second. carrying eleven passengers took of at 5;42pm</p>

                <p>Over the last few days, Senior Police officials were seen at Luqa airport in the area where private planes take off.</p>

                <p style="text-align: right">07/01/03</p>

                <p>The police, with the help of international contacts, are checking whether amongst the passengers to Djerba were all the assassins or just one of them.</p>

                <p>A few days before the killing the two murderers were spotted at least three times by the yacht marina at Msida. Those who saw became suspicious because of the mode of dress. They wore turbans and black gloves.</p>

                <p>The Maltese suspected they were planning a hold-up. At times, while these persons were sitting on a bench at the Marina, a man between 35 and 40 years old with thinning hair, heavier than the other two joined them. He often used a red, rented car.</p>

                <p>They were ﬁrst seen on the Saturday prior to the murder. They were spotted again on two other occasions during the week. On the day of the murder, between 02:00 pm. and 02;30 p.m. they were again seen in the area. This time they came on foot.</p>

                <p>2.</p>

                <p>The murder took place at 1.15 in the afternoon. It is obvious, therefore, that the Maltese saw them approximately an hour after the murder. An employee entering his place of work, on coming out again, did not see them anymore. They had last been seen at pier N. but when the person came out to have a look they were gone.</p>

                <p>It was only after the police had released the identikit that the Maltese realised that these were the murderers of Shqaqi.</p>

                <p>A person living on Tower Road, close to where Shqaqi was killed, twice spoke to the murderers just before the killing. The ﬁrst time this gentleman saw two youths sitting on the railings opposite the hotel. Observing that they had been sitting there for a very long time and looked suspicious, he went up to them and asked if they needed anything. They made a sign with there head, but did not speak.</p>

                <p>After some time, a woman addressed the gentleman and asked him, "what are those two men doing?". The Maltese man again accosted the two men and questioned them, but got no reply.</p>

                <p>The motor cycle was ﬁrst parked in front of the hotel. At some point however, it was moved and parked in Sir Arturo Mercieca Street. After the murder the murderers escaped from Tower Road, went into Sir Arturo Mercieca Street and took off</p>

                <p>The motorcycle was found in Manuel Dimes Street in Slime. It seems that somebody was waiting for them.</p>

                <p>From Sir Arturo Mercieca Street, the killers proceeded towards Victoria Avenue, drove to Dingli Street passing through St. Mary Street and into Manwel Dimech Street, passing by the Sliema Police Station.</p>

                <p>The police received conﬁrmation of the true identity of Shqaqi on Sunday morning after the body had already been shipped to Libya on the Saturday.</p>

                <p style="text-align: right">07/01/03</p>

                <p>Page 2</p>

                <p style="font-size: 20px; font-weight: bold">Service between Malta and Libya is still suspended</p>

                <p>Although relations between Malta and Libya are expected to return to normal, following talks between the two sides over the last few days, the ferry service between the two countries was still suspended up to yesterday</p>

                <p>It was not known, last night, whether the ship was going to sail from Tripoli to Malta. However, a spokesman for the Maltese embassy in Tripoli informed this newspaper that the ship was not expected to take on any Maltese passengers.</p>

                <p>3.</p>

                <p>The Maltese embassy is in contact with GNMTC, the company that operates the ferry service. It is expected that service will be resumed within the next few days.</p>

                <p>Page 7</p>

                <p>Editorial:</p>

                <p>What a difference!</p>

                <p>Over the last few days, the media has been dominated by the killing of Fathi Shqaqi ten days ago.</p>

                <p>To have made a statement in Parliament (something rare with the Nationalist these days) means that Fenech Adami and Demarco were informed of the Shqaqi murder!</p>

            
                <p>Following Demarco’s statement, the Deputy Labour leader, Dr George Vella made a very responsible statement. He stated that there were many questions to be asked on the case. But that the Opposition was not going to put any in the interest of the nation.</p>

                <p>What a difference from times gone by? What a difference to the period when the country had an Opposition ready to take advantage of anything in order to damage the government of the day?</p>
               
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
