<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Email from Don Mullan concerned about facts Magill article is based on</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email from Don Mullan requesting confirmation of the images of the aircraft in Kullhadd article. The premise the article to Magill is founded, on the Bartolo theory that he was, wittingly or not. irresponsibly fingered by Kullhadd on 5th November by their showing one of his aircraft. Not necessarily 9H-ABU but an Excelair aircraft" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Don Mullan" />
      <meta name="category" content="email" />
      <meta name="created-day" content="04" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2003" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email from Don Mullan concerned about facts Magill article is based on</span>

                <p>From: Don Mullan (dbmullan@indigo.ie)<br>
                To: Cecilia Canessa (ccanessa.hchr@unog.ch)<br>
                Cc: cormacboomer (cormac.boomer@ntlworld.com)<br>
                Sent: O4 January 2003 00:32<br>
                </p>

                <p>Subject: Fw: Hi Don</p>

                <p>URGENT</p>

                <p>Cecilia and Cormac,</p>

                <p>I really need your help with this and I am concerned that the information I was given may not be accurate and, therefore, the whole premise around which my article to Magill is founded, could be easily rubbished. I cannot allow this to happen. So, l will need absolute conﬁrmation that the information l have is accurate.</p>

                <p>The whole premise of the Bartolo theory is that he was, wittingly or not. irresponsibly fingered by Kullhadd on 5th November by their showing one of his aircraft. Not necessarily 9H-ABU but an Excelair aircraft.</p>

                <p>That's what the document ‘Piper Lance Mystery - Sequence of Events‘ clearly states:</p>

                <p>"...The journal [KullHadd] also printed a photograph of the Excelair aircraft in the same write up..."</p>

                <p>If this is not so then it substantially weakens the foundation of the argument since the pilot could have been any private pilot in Malta and not necessarily Bartolo. l think Cecilia, you may need to speak with Daniel and Patrick to see if they can help you.</p>

                <p>Your sentence:</p>

                <p>"the newspaper shows picture of private plane but not clear whether it was the 9HABU and picture not clear shows a lot of clouds"</p>

                <p>may very well be an Excelair aircraft. if so, well and good. just need confirmation</p>

                <p>I hope you understand l am not being awkward. l am being careful and cautious. A fundamental error like this would have the case rubbished and dismissed. We cant afford to let that happen at this stage.</p>

                <p>Sincerely,</p>

                <p>Don</p>

                <p>PS. The full translation is very anxiously awaited. if you can put it on an email it would be even better than fax.</p>

                <p>--- Original Message ----
                From: Cecilia Pellegrini Petit
                To: dbmullan@indigo.ie
                Sent: Friday, January 03. 2003 2:18 PM
                </p>
                
                <p>Subject: Hi Don</p>

                <p>Dear Don.</p>
                
                <p>I have just been to the Public Registry to find the cutting of it Kullhadd of 5th November which shows private airplanes on the runway and the place where private aircraft are kept at the airport and it says that those suspects were seen in that place but the newspaper also says that a bit after the killing two persons that were involved were seen at the Yacht Marina so they could have left Malta by sea, but this does not exclude that the killers left Malta by air.</p>

                <p>Maybe the killers split up for lack of evidence. After the killing there were two private flights to Djerba in Tunisia and there</p>

                <p>05/01/03</p>


                <p>Page 2 of 2</p>

                <p>were on these flights two passengers. This is what the newspaper says. the newspaper shows picture of private plane but not clear whether it was the QHABU and picture not clear shows a lot of clouds. Will translate and fax to you on Monday.</p>

                <p>By the way the Times of 9th does also mention that the killers left on a private plane. will be able to get this on Monday.</p>

                <p>bye for now</p>

                <p>Cecilia.</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
