<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>F0013056 -FREEDOM OF INFORMATION ACT - Request AAIB to Clarify Previous FOI Response</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Response from AAIB clarifying the initial statement in 2015 which stated “following a search of our paper and electronic records, I have established that the information you requested is not held by the AAIB.  The accident was not investigated by the AAIB in the UK" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Ian Bass" />
      <meta name="category" content="Evidence" />
      <meta name="created-day" content="14" />
      <meta name="created-month" content="April" />
      <meta name="created-year" content="2020" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">F0013056 -FREEDOM OF INFORMATION ACT - Request AAIB to Clarify Previous FOI Response</span>

 
                cormac.boomer

                From: Don Mullan (dbmullan@indigo.ie)
                To: Cecilia Pellegrini Petit (cpetit@attardco.com)
                Cc: cormac.boomer (cormac.boomer@ntlworld.com)
                Sent: 07 January 2003 12:22

                Subject: Re: KULLHADDCEC19 Nov.95

                This is an important article for it clearly states:

                "Informed sources state that the theory that they escaped by plane has been set aside."

                What is Daniel‘s take on this?

                Having initially fingered Bartolo, is it possible they are now trying to pull back? Was Bartolo‘s lawyer
                exerting pressure on the newspapers to be more responsible? I'd really be interested in your reflections concerning what you think was going on.
                Sincerely,

                Don

                ----- Original Message -----
                From: Cecilia Pellegrini Petit
                To: dbrnullan@indigo.ie
                Sent: Tuesday, January 07,200310:14 AM
                Subject: Fw: KULLHADDCEC19 Nov.95

                Sent: Monday, January 06, 2003 8:35 PM
                Subject: KULLHADDCEC19 Nov.95

                Ref KULL HADD 19"‘ November 1995

                Page 3

                Joe Mifsud and Felix Agius reporting

                ONLY TWO PERSONS KNEW OF SHQAQI’S MOVEMENTS IN MALTA

                [b]The Murderers were in front of the hotel early in the morning

                Only two persons were informed of Fathi Shqaqi’s visit to Malta on the 26th October when he
                was killed, in Sliema, by 5 bullets in the head.

                These were a Libyan, residing in Malta, who booked his ﬂight tickets as well as the hotel and a
                Maltese who picked him up at the port and who, on the morrow, had to take Shqaqi to the
                airport to ﬂy to Rome en route to Damascus. The two men are partners in business.

                These individuals state that were entrusted to do this by the Libyan Committee of Organizations
                for International Peace that is based in Tripoli. They were not aware that Shqaqi was the leader of the Islamic Jihad. Shqaqi, to them, was known as Dr Ibrahim Shaweshi. The Organization
                informed them that he was due to visit Malta only two days before his arrival.

                On October 11, Shqaqi arnved in Malta from Rome on his way to Libya, He proceeded straight


                O7/O1/03

                to the Grand harbour to catch the ferry to Tripoli. He retumed to Malta from Tripoli, by ship on
                26th October .

                At a quarter to ten the Maltese picked up Shqaqi from the port and took him to the Diplomat Hotel where the killers were waiting.

                The hotel booking had been made a few hours earlier on. Shqaqi entered the hotel and settled down in room no 616. He exchanged 100 US$, walked out of the hotel to shop at Marks and Spencer and Bemardi. He was shot on his way back in front of the hotel.

                There are those who are convinced that the killers where in front of the hotel early in the morning before Shqaqi’s arrival from Libya. Why then did the killers not act earlier on?

                It is thought that the killers had not yet been given the go-ahead so as not to hinder their escape. In all probability they were waiting for the ship ( that was to play a part in their escape) got closer to Malta. The killers probably escaped via Msida either in a dinghy or a speedboat and lifted by helicopter on to the ship

                From the research we carried out on the day of the killing, amongst the ships that set sail from Haifa was the Emily Borchard whose destination was not known.

                Informed sources state that the theory that they escaped by plane has been set aside.

                2.

                [b]Shqaqi visits to Malta over the last three years

                Fathi Shqaqi ﬁrst visited Malta on the 14th December 1993. As soon as he arrived he proceeded straight to the Valletta Harbour where he boarded the ferry to Tripoli. He returned to Malta on Christmas Eve and together with other Arabs spent three days at the Diplomat Hotel.

                On the 27th December 1993 he left Malta for Damascus. He re-entered Malta on June l, 1994. He arrived from Tripoli together with another person. This time he had not travelled to Libya via Malta. From the harbour he proceeded to the Holiday Inn at Tigne. He spent the night and left Malta by air on the 2 June 1994. Two months later, on August 28, Shqaqi returned to Malta by air and went to rest for a few hours at the Park Hotel in Graham Street, Sliema. He left late that same evening for Tripoli.

                Twelve days later he returned from Tripoli and stayed again at the Park Hotel. The next day he
                caught the plane to Damascus. The ﬁrst time he came to Malta this year was April 17 when he proceeded directly to harbour from the airport to catch the ferry to Tripoli.

                On his way back to Damascus he stopped in Malta on 27th April when he spent the night at the Park Hotel. He left Malta the following day for Rome.

                [b]The “NAME” of the Person who brought the motorcycle into Malta is known.

                The person who brought in the motorcycle that was used for the killing gave his name to

                07/01/03


                Customs and Immigration Police as Philippe Rene'.

                Page 3 of 3

                Rene’ arrived in Malta on August 12 and declared he would be staying at the Holiday Inn at
                Tigne. He had a permit to remain in Malta, with the motorcycle, until August 204. The registration number of the French motorcycle was YA2083l and Philippe Rene carried an Identity Card no YU 77361.

                The Maltese number plate which was put onto the motorcycle was stolen in 1990 ﬁom a blue
                coloured Yamaha 86 motorbike.

                A press release states that all the particulars given by Rene’ were false‘ Furthermore he never
                checked into the Holiday Inn.


                07/01/03

               
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
