<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Emails from Don to Cecilia querying if Kullhadd implicated 9HABU</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Emails from Don Mullan to Cecilia Pellegrini trying to confirm if the picture of the plane used in the Kullhadd article (1995) did in fact belong to Bartolo." >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Don Mullan" />
      <meta name="category" content="email" />
      <meta name="created-day" content="07" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2003" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Emails from Don to Cecilia querying if Kullhadd implicated 9HABU</span>

                <p>Page 1 of 3<br>
                <br>
                <strong>cormac.boomer</strong><br>
                From: Don Mullan (dbmullan@indigo.ie)<br>
                To: cormac.boomer (cormac.boomer@ntlworld.com)<br>
                Sent: 07 January 2003 12:23<br>
                Subject: Fw: Hi Don,<br>
                <br>
                Cormac,<br>
                <br>
                This is interesting.<br>
                <br>
                Don<br>
                <br>
                ----- Original Message -----<br>
                From: Cecilia Pellegrini Petit<br>
                To: Don Mullan<br>
                Sent: Tuesday, January 07, 2003 9:54 AM<br>
                Subject: Re: Hi Don,<br>
                <br>
                Dear Don,<br>
                <br>
                <p>Malta is a small place where everybody knows everybody else. The number of private plane pilots in Malta is very limited particularly those of Maltese Nationality. Back in December 95 the first name that would come in anybody's mind would be that of Carmel Bartolo when somebody, particularly a journalist mentioned a Maltese pilot on a Maltese registered aircraft.</p>

                <p>Another name that would come to mind would be of Lino Xuereb (another pilot who also participated in
                searches) however it seems that he was not flying at the time. This fact is further evidence that as soon
                as the Piper Lance disappeared on 3rd December people immediately linked Bartolo to the Shaqi assassination and to the newspaper reports in question.</p>

                <p>The sequence of events was written by Daniel and the reference to Bartolo was made in the light of the above.</p>

                <p>There are other papers Times I Sunday Times L'orizzont and also the Torca. Besides the Kullhad there is also the article by Sharon Spiteri which I could trace and send to you and if I am not mistaken this also points out clearly to Bartolo.</p>

                <p>I am also sending further translations of the Kullhadd.</p>

                <p>Daniel is at home today as he is sick so he is trying to trace the Times from my file so I will get back to you later.</p>

                <p>tks and rdgs</p>

                <p>Cecilia.</p>

                <p>----- Original Message -----<br>
                From: Don Mullan<br>
                To: Cecilia Pellegrine Petit<br>
                Cc: cormac.boomer, Patrick Vella<br>
                Sent: Monday, January 06, 2003 7:46 PM<br>
                Subject: Re: Hi Don,<br>
                <br>
                Cecilia,<br>
                <br>    
                <p>Thank you for all this work. It is very helpful. And thank God I got it now and not after my article was published.</p>

                <p style="text-align: right">07/01/03</p>

                <p>Page 2 of 3</p>

                <p>From this information it is not clear that the picture shows an aircraft owned by Bartolo. This is
                considerably weaker than the assertion contained in the document: "PIPER LANCE MYSTERY - SEQUENCE OF EVENTS“ which clearly asserts:</p>

                <p><em>5th November 1995<br>
                <br>
                Local newspaper "Kulhadd" reports on the front page a story that the Shqaqi assassins may have left
                Malta on a Maltese registered and piloted private plane. The journal also printed a photograph of the Excelair aircraft in the same write-up. Excelair was the company operating the Piper Lance, the missing aircraft.</em></p>

                <p>Do you know who the author of this 6-page document is as I would like to question him/her to see if they can enlighten me as to how they have drawn these inferences?</p>

                <p>The author also goes on to state regarding the Times article of 9 November 1995:</p>

                <p><em>".... Police sources were quoted and the reference is clearly to Carmel Bartolo, the pilot of the Piper Lance..."</em></p>

                <p>I cannot now see how this inference is drawn. If the aircraft printed alongside the KullHadd article was
                unquestionably a Bartolo plane, then everything stands. But, since we now are in doubt as to whether the aircraft actually was a Bartolo aircraft, it seems to me that suspicion could be thrown on all private pilots, not just Bartolo.</p>

                <p>Furthermore, l am delighted you also sent me the KullHadd article of 12 November 1995 which states:</p>

                <p><em>"There are growing suspicions that the murderers fled from Msida either by speedboat or in a dinghy.
                    The more so after it was reported that the operation was monitored from an Israeli ship on its way from Haifa to Italy.“</em></p>

                <p>I had never seen this report before. Couldn't this be interpreted as suggesting that suspicion on Bartolo was now shifting?</p>

                <p>I will have to sleep on this. Unless I hear deﬁnitively within the next 24 hours that the aircraft published in KullHadd on 5 November 1995 is Bartolos l will have to meet with the editor of Magill to discuss these developments. Sadly, the article may be pulled or downgraded from being the cover story. Whatever happens, it will have to be reworked to reflect these clarifications.</p>

                <p>Thank you again Cecilia for your help.</p>

                <p>Sincerely,</p>

                <p>Don</p>

                <p>----- Original Message -----<br>
                From: Cecilia Pellegrini Petit<br>
                To: dbmul|an@indigo.ie<br>
                Sent: Monday, January O6, 2003 11:28 AM<br>
                <br>
                Subject: Hi Don,<br>
                <br>
                Hi Don,<br>
                </p>
                
                <p style="text-align: right">O7/01/O3</p>

                <p>Page 3 of 3</p>

                <p>I have sent to you this morning 3 translations ofthe Kullhadd of different dates. Don I am at a loss to answer your questions re whether the plane shows clearly if it was the 9HABU. The photos are not clear but at the time there were not many private planes. As you can see from the translations the info given is contradictary as they could have escaped by plane or by sea from Msida or by both. I have been again to the Public Library and this is all unclear very vague. Whether Joe Mifsud is someone who could be relied on about his information I cannot say but during the enquiry he was never brought over to verify or anything of the sort. am in the office so if you have more questions I will try to answer them immediately as I know you have to travel on Wednesday.</p>
                
                <p>Patrick Vella has been in touch.</p>
                <p>rdgs</p>
                <p>Cecilia.</p>
                <p style="text-align: right">O7/01/O3</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
