<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Email from Cecilia regarding commercial flights</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email from Cecilia Pellegrini regarding an article in Kullhadd regarding he Maltese authorities being aware of commercial flights being offered out of Malta on planes flown by pilots who do not have a commercial license" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cecilia Pellegrini" />
      <meta name="category" content="email" />
      <meta name="created-day" content="10" />
      <meta name="created-month" content="December" />
      <meta name="created-year" content="1995" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email from Cecilia regarding commercial flights</span>

                <p>cormac.boomer<br>
                From: Cecilia Pellegrini Petit (cpetit@attardco.com)<br>
                To: cormac.boomer (cormac.boomer@ntlwor|d.com)<br>
                Sent: 07 January 2003 10:10<br>
                Subject: Fw: KullHadd Cecilia 10Dec1995A<br>
                <br>
                ----- Original Message -----<br>
                From: Cecilia Pellegrini Petit<br>
                To: dbmullan@indigo.ie<br>
                Sent: Tuesday, January 07, 2003 11:10 AM<br>
                Subject: Fw: KullHaddCecilia 10Dec1995A<br>
                <br>
                Sent: Tuesday, January 07, 2003 2:20 AM<br>
                Subject: Ku||HaddCecilia10Dec1995A<br>
                <br>
                Ref: Kull Hadd 10th December 1995<br>
                <br>    
                Page 3<br>

                <p><strong>Danger in the Air</strong></p>

                <p>Since ships are not operating between Malta and Libya and passengers are obliged to ﬂy to Tunisia on light aircrafts, businessmen involved in air travel are concerned about the danger arising thereof.</p>

                <p>Persons catching these planes are not being given any tickets when they board . They are simply being told to be at the airport at a given time in order to catch a particular ﬂight.</p>

                <p>This is being done to make it seem that those persons (working in the oil industry) wishing to get to Libya are being ﬂown over by someone who is doing them a favour. They are not catching commercial ﬂights, as they would have to pay for such ﬂights.</p>

                <p>Planes carrying paying passengers require pilots to be in possession of a commercial licence. They are also required to have reputable insurance cover.</p>

                <p>Small planes carrying passengers who ﬂy to Tunisia, but whose destination is Libya, are not licensed to carry passengers further than 30 miles out of Malta.</p>

                <p>Amongst these pilots are pilots only licensed to ﬂy private aircrats. They are not authorized to ﬂy commercial planes.</p>

                <p>The Civil Aviation Department is allowing these ﬂights knowing full well the danger involved. Serious problems are going to arise should one of these planes, piloted by a private licensed pilot, crash and should these companies not have adequate insurance.</p>

                <p>The next of kin are likely to sue for damages on a large scale.</p>

                <p>The Maltese passengers can sue the companies that operate the ﬂights. For thousands of liri.However the next-of-kin of those Germans and Americans availing themselves of these ﬂights could sue for millions. They could sue the companies, the Civil Aviation and the Government of Malta who is allowing such ﬂights to take place.</p>

                <div>
                    <p style="float: left"> Ref: Kull Hadd 10th December 1995</p>                                           <p style="float: right">07/01/03</p>
                </div>

                <p style="clear: both;">Page 7 — (Editorial)</p>

                <p><strong>Danger in the Air</strong></p>

                <p>Two weeks ago, in the issue dated 26th November, this newspaper reported on page 3 “Danger in the Air”</p>

                <p>This report stated that persons involved in air travel are concerned about the danger risk now that many persons are obliged to ﬂy to Tunisia on small aircrafts because ships, between Malta and Libya, are not operating.</p>

                <p>The report also stated that the Civil Aviation Depanment is allowing these ﬂights to take place fully aware of the risks involved.</p>

                <p>In no way do we wish to throw any bad light on what happened in the case of the Sun Aviation plane but it would be interesting to be told by the Authorities what immediate steps have been taken to eliminate the danger we mentioned in this paper two weeks ago.</p>

                <p style="float: right">O7/O1/03</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
