<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>>Email from Cecilia Pellegrini to Cormac Boomer re: Don Mullan</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Letter to Irish News expressing disappointment that the Irish government was willing to intervene to help the 'Columbian Three' but were unwilling to help as they didn't want to upset the Maltese government" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cecilia Pellegrini" />
      <meta name="category" content="email" />
      <meta name="created-day" content="06" />
      <meta name="created-month" content="December" />
      <meta name="created-year" content="2002" />
      
      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
      <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email from Cecilia Pellegrini to Cormac Boomer re: Don Mullan</span>

                <p>From: Cecilia Pellegrini Petit (cpetit@attardco.com) </p>
                <p>To: cormac.boomer (cormac.boomer@ntlworld.com) </p>
                <p>Sent: 06 December 2002 15:54  </p>
                <p>Subject: Fw: Hi Don  Hi Cormac, copy of e mail I sent to Don. </p>
                <p>I have sent in the cuttings he requested and will send you copies too. hope you are well. This is a bad week for us even worse than usual. will be in touch.  Cecilia. <br><br>
                <p>----- Original Message ----- </p>
                <p>From: Cecilia Pellegrini Petit </p>
                <p>To: dbmullan@indigo.com </p>
                <p>Sent: Friday, December 06, 2002 4:53 PM  </p>
                <p>Subject: Hi Don  Hi Don,  have mailed to you a few paper cuttings which should be of interest to you.</p>
                
                <p>Please let me know when you receive them.  I will send you a few with translations as soon as possible and will try to answer some of your questions. I also have a book of SHQAQI international Terrorism in Malta written by journalist Joe Mifsud but unfortunately this book is not yet available in English. I will send you a few pictures from this book too in fact the m/cycle big picture is from that book.</p>
                
                <p>the m/cycle was found in Manuel Dimech Street (ex Prince of Wales Road) after the killing. this road is very close to my house in fact the m/cycles were found under the bridge and it is said that they escaped from the bridge which leads from this road to a higher level road Old College in fact Matt and l had just returned from work at 5pm and the police told us that we could not park there because there were the m/cycles and were being removed. Some shopkeepers (it is said) also saw them escape from that bridge but this is not conﬁrmed so please do not quote me. The pictures also show the route that was taken to bring the m/cycle down.</p>
                
                <p>As you know this is the seventh anniversary and would appreciate your help to find out what happened to our loved ones.</p>
                
                <p>tks and regards  Cecilia.</p>    

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
