<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Email translation of Kullhadd article</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email from Cecilia Pellegrini containing the translation of the Kullhadd article written by Joe Mifsud and Flexi Agius. The article claims that a network of foreign secret services working against each other. These groups include Mossad, Israel’s Prime Minister, Yitzhak Rabin and the American Secret Service" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cecilia Pellegrini" />
      <meta name="category" content="email" />
      <meta name="created-day" content="06" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2003" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email from Cecilia Pellegrini, translation of Kullhadd article</span>

                <p>cormac.boomer<br>
                <br>
                From: Cecilia Pellegrini Petit (cpetit@attardco.com)<br>
                To: cormac.boomer (cormac.boomer@nt|world.com)<br>
                Sent: 06 January 2003 11:28<br>
                Subject: Fw: KULLHADDCEC12Nov<br>
                <br>
                ----- Original Message -----<br>
                From: Cecilia Pellegrini Petit <br>
                To: dmullan@indigo.ie<br>
                Sent: Monday, January 06,2003 11:36 AM<br>
                Subject: Fw: KULLHADDCEC12Nov<br>
                Dear Don,<br>
                <br>
                Hereunder pls ﬁnd translation:<br>
                </p>
                
                <p>Sent: Monday, January 06, 2003 6:55 AM<br>
                Subject: KULLHADDCEC12NOV<br>
                Ref: Kull Hadd 12th November 1995<br>
                <br>
                Page 1<br>
                </p>
                
                <p>Felix Agius and Joe Mifusd reporting</p>

                <p>The killing of Fathi Shqaqi has uncovered, in Malta, a network of foreign secret services working against each other.</p>

                <p>These foreigners have companies in Malta "offering any service outside Malta, to any person, company or entity".</p>

                <p>Amongst these foreigners are Mossad agents who had a hand in the killing of Fathi Shqaqi. Despite the fact that Shqaqi was hardly known to be one of the leaders of the Islamic Jihad, so much so that his name never appeared in the international press over the last few years, the Mossad had long decided to kill him.</p>

                <p>According to foreign reports, Israel’s Prime Minister, Yitzhak Rabin and the American Secret Service, the CIA, had given their consent to the killing. The Israeli government wanted Shqaqi killed away from the Middle East in order not to hamper peace negotiations. The choice fell on Malta immediately it was discovered that Shqaqi was coming to Malta to get to Libya. The killing was organized in such a manner as to show that the Arabs had a ﬁnger in the pie.</p>

                <p>Shqaqi did not feel he ran in danger in Malta for that matter nor did his prospective killers so much so that he moved around alone. More than two persons were involved in the Murder of Shqaqi. The murderers formed part of a professional team that had been planning the killing over a number of months. From information received the motorcycle, used by the killers had been in Malta since August, and the petrol it contained was of a type not sold in Malta. This goes to show that the motorcycle had been hidden away ready for use.</p>

                <p style="text-align: right">O7/O1/03</p>

                <p>2.</p>

                <p>The person who brought the motorcycle into Malta used a false passport to enter and different one to leave. The person is presumed to be a French national who entered last August and had his passport rubber-stamped CTI (Customs Temporary Importation) in order that he could bring in his motorcycle. To leave Malta this person used a passport without any such rubber stamp.</p>

                <p>While the murderers had been lying in wait a number of weeks for Shqaqi to pass through Malta, other foreigners, a few priorr to the killing, supplied them with arms and ammunition used in the killing. It is probable that the persons involved carried false passports.</p>

                <p>In the last months, the Mossad had been intensifying its surveillance of Shqaqi. When it was decided to attack, the Mossad agents reported every move of the Palestinian in Malta as well as in Libya.</p>

                <p>When Shqaqi arrived in Malta, from Tripoli, there was a Maltese waiting to pick him up and take him to the Diplomat hotel. This same Maltese, on the morrow, was to accompany Shqaqi to the airport to catch his ﬂight to Rome en route to Damascus.</p>

                <p>The arrangements for Shqaqi’s ﬂight to Damascus from Malta were made by a Libyan businessman living in Malta.</p>

                <p>From our sources it appears that the trip was booked two days prior to the murder. The murderers were conﬁdent not being in any danger in carrying out the killing. They were calm and collected even when Shqaqi arrived in Malta. The man who ﬁred the shots was so calm that he even had a box into which he ejected the cartridges so as not to leave any trace. It is still not established how the murderers left the island. There are growing suspicions that the murderers ﬂed from Msida either by speedboat or in a dinghy. The more so after it was reported that the operation was monitored from an Israeli ship on its way from Haifa to Italy.</p>

                <p>3</p>

                <p>According to this report the murderers reached this ship by helicopter. The helicopter had been hidden in a container.</p>

                <p>The Commissioner of Police George Grech, together with Superintend Joe Cachia and Inspector Pierre Calleja are carrying on with their visit to Libya. They left Malta, on Friday, together with the Libyan Ambassador to Malta. They are expected back next Tuesday.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
