<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Email from Daniel to Don, discussing link between Bartolo and assassination</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email from Daniel Aquilina discussing the link to the Shqaqi assassination made by the articles in the Kulhadd and the Times, prior to the Piper disappearance" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Daniel Aquilina" />
      <meta name="category" content="email" />
      <meta name="created-day" content="07" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2003" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Email from Daniel to Don, discussing link between Bartolo and assassination</span>

                <p>From: Daniel Aquilina (dja@mail.g|obal.net.mt)<br>
                To: (dbmullan@indigo.ie)<br>
                Cc: (cormac.boomer@ntlwor|d.com)<br>
                Sent: 07 January 2003 18:28<br>
                <br>
                Dear Don,<br>
                </p>

                <p>My mother has informed me about the emails you have been exchanging over the last few days in connection with the disappearance of my brother and other 5 men on board the Piper Lance back in December 1995.</p>

                <p>The sequence of events was in fact drafted and updated up to a certain point in time by me and was really a rough sketch of events as they happened, mainly used by myself as ‘brief notes‘.....</p>

                <p>The link to the Shqaqi assassination has always been there whether the link is true or not, it has
                always been there in the minds of the Maltese and the link was immediately made when the aircraft
                in question disappeared. As you are aware the Kulhadd and the Times, prior to the Piper disappearance, had published on their respective front pages that the Shqaqi assassins may have escaped from Malta with a Maltese pilot on board a Maltese private plane. The link to Bartolo however is strong because of the limited number of Maltese nationals ﬂying private aircraft at the time. lt was also conﬁrmed to me by a friendly source in the local police force that Bartolo was in fact being observed and investigated in this respect (this is not info. in the public domain of course so pls treat delicately). Was he really involved? We do not know - however, the 2 articles in question did create or add to the clouds of suspicion surrounding this character. Even if he was not involved at all, the articles in question created this situation...not only in the eyes of the people but also of the local police as mentioned above...irresponsible jourmalism??? - maybe, probably...</p>

                <p>Now, it later surfaced that it was more probable that the assassins actually escaped by sea via some cabin-cruiser berthed at Msida creek and the possibility that they escaped by air, "with a Maltese pilot on a Maltese plane" started to dwindle away.......my point is this and I had said this on Lou Bondi's programme on local tv - whether they escaped by air or sea, Bartolo, in the eyes of many, was linked to the Shqaqi story whether he liked it or not, whether it made sense or not....and the main reason for this were probably the 2 articles in question. Even those who believed they escaped by sea still thought Bartolo was involved in one way or another - whether credible or not...</p>

                <p>We also know from Bartolo‘s own son (now decesased) that he (the pilot) had many "enemies" in North Africa and Bartolo's daughter always repeated a story about some Arab calling at their home before he disappeared, threatening him.....what can I say‘? This is what I was told, I certainly do not know it as a fact....</p>

                <p>Hope this helps....pls keep me involved in future correspondence with my mother and cormac so I can help out where I can...</p>

                <p>Best regards,</p>

                <p>Daniel Aquilina</p>

                <p style="text-align: right">07/01/03</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
