<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Comment from Cormac Boomer on final inquiry report</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Email from Cormac Boomer to Don Mullan, Don requested a comment from Cormac on the final report from the inquiry. Cormac confirmed he had written to Brian Cowan TD as advised by Don." >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="inquiry" />
      <meta name="created-day" content="01" />
      <meta name="created-month" content="December" />
      <meta name="created-year" content="2000" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Comment from Cormac Boomer on final inquiry report</span>

                <p>From: Don Mullan (dbmullan@indigo.ie)<br>
                To: cormac.boomer (cormac.boomer@ntlworld.com)<br>
                Sent: 01 December 2000 02:18<br>
                Subject: Re: re the final report<br>
                <br>
                Thank you for this Cormac. This is very helpful.<br>
                <br>
                Don.<br>

                <p>PS. Please note I am using a new email address. l will soon shut down my aol account. So you might wish to change your address book now.</p>

                <p>----- Original Message -----<br>
                From: cormac.boomer<br>
                To: don mullan<br>
                Sent: Thursday, November 30, 2000 10:33 PM<br>
                Subject: re the final report</p>

                <p>The publication of the final report of The Board Of Enquiry published in Jan.2000 into the aviation incident reported to have occured on the morning of 3/12/95 when a single engine Piper aircraft Reg no 9H-ABU dissappeared with six people on board when enroute from Djerba in Tunisia to Malta, makes for interesting reading, not because of the decision to blame the pilot (that was the easy one) but the Boards failure to properly investigate all the circumstances surrounding the incident and have the physical evidence scientifically checked and tested, In the course of their work the Board failed miserably to enforce their writ and submit a detailed analysis of their findings for government and public scrutiny, rather than dismiss (which they did) large chunks of relevant evidence under the heading of rumour and speculation</p>

                <p>This report raises more questions than it answers therefore it lacks credibility.</p>

                <p>Don this is the comment you asked for re the final report feel free to use it.any way you wish, l have also written to Brian Cowan TD in the format you suggested</p>

                <p>Cormac</p>

                <p style="text-align: right;">02/12/00</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
