<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>F0013056 - FREEDOM OF INFORMATION ACT - REQUEST FOR INFORMATION HELD ON THE CRASH OF PIPER LANCE 9H-ABU</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="F0013056 - FREEDOM OF INFORMATION ACT - REQUEST FOR INFORMATION HELD ON THE CRASH OF PIPER LANCE 9H-ABU ON DECEMBER 3RD 1995, FLYING FROM DJERBA, TUNISIA TO MALTA" />
    <meta name="author" content="Ian Bass, AAIB UK" />
    <meta name="category" content="FOI" />
    <meta name="created-day" content="14" />
    <meta name="created-month" content="December" />
    <meta name="created-year" content="2015" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->
    
    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">F0013056 -FREEDOM OF INFORMATION ACT - REQUEST FOR INFORMATION HELD ON THE CRASH OF PIPER LANCE 9H-ABU ON DECEMBER 3RD 1995, FLYING FROM DJERBA, TUNISIA TO MALTA</span>

                <p>Dear Mr Boomer</p>

                <p>Thank you for your email which was received by the Air Accidents Investigation Branch (AAIB) on Sunday 15th November 2015. You have asked for “any information held on record for the crash of Piper Lance 9H-ABU on December 3rd 1995, flying from Djerba, Tunisia to Malta”.  You have asked for this information under the Freedom of Information Act (2000).</p>

                <p>Following a search of our paper and electronic records, I have established that the information you requested is not held by the AAIB.  The accident was not investigated by the AAIB in the UK.</p>

                <p>If you are unhappy with the way the Department has handled your request or with the decisions made in relation to your request you may complain within two calendar months of the date of this letter by writing to the Department’s Information Rights Unit at:</p>

                <p>Zone D/04<br>Ashdown House<br>Sedlescombe Road North<br>Hastings<br>East Sussex TN37 7GA<br>E-mail: FOI-Advice-Team-DFT@dft.gsi.gov.uk</p> 

                <p>Please see attached details of DfT’s complaints procedure and your right to complain to the Information Commissioner.</p>

                <p>If you have any queries about this letter, please contact me. Please remember to quote the reference number above in any future communications.</p>

                <p>Yours sincerely</p>

                <p>Ian Bass<br>Air Accident Investigation Branch<br>Farnborough House<br>Berkshire Copse Road<br>Aldershot<br>Hampshire GU11 2HH<br></p>
                
                <p>Tel: 01252 510300<br>Email: foi@aaib.gov.uk<br></p>

                <p>Your right to complain to [DfT/AAIB] and the Information Commissioner</p>

                <p>You have the right to complain within two calendar months of the date of this letter about the way in which your request for information was handled and/or about the decision not to disclose all or part of the information requested. In addition a complaint can be made that DfT has not complied with its FOI publication scheme.</p>

                <p>Your complaint will be acknowledged and you will be advised of a target date by which to expect a response. Initially your complaint will be re-considered by the official who dealt with your request for information. If, after careful consideration, that official decides that his/her decision was correct, your complaint will automatically be referred to a senior independent official who will conduct a further review. You will be advised of the outcome of your complaint and if a decision is taken to disclose information originally withheld this will be done as soon as possible.</p>

                <p>If you are not content with the outcome of the internal review, you have the right to apply directly to the Information Commissioner for a decision. The Information Commissioner can be contacted at:</p>

                <p>Information Commissioner’s Office<br>Wycliffe House<br>Water Lane<br>Wilmslow<br>Cheshire<br>SK9 5AF</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>