<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Letter sent by Geoff Williams to the Maltese Board of Inquiryregarding statement by Andrew Williams</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Letter sent by Geoff Williams on 15th July 1999 to the Maltese Board of Inquiry, includes his signed affidivat regarding the statement by Andrew Williams that he was informed the plane had been tracked to Tripoli" />
    <meta name="author" content="Geoff Williams" />
    <meta name="category" content="inquiry" />
    <meta name="created-day" content="15" />
    <meta name="created-month" content="July" />
    <meta name="created-year" content="1997" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter sent by Geoff Williams to the Maltese Board of Inquiry, includes signed affidivat</span>

                <div class="letter-head"><p>17, Whitehart Close,<br />Liverpool, L4 6UT<br />England.<br />15th July 1999.</p></div>

                <p>The Board of Enquiry,<br />Courts of Justice,<br />Valleta,<br />Malta</p>

                <p><strong>Reference; Aviation Incident - The Reported Loss - Disappearance of a Piper Lance Aircraft Reg. No. 9H ABU. enroute from Djerba Tunisia to Malta on the morning of 3rd December 1995.</strong></p>

                <p>Dear Sirs,</p>
            
                <p>My Affidavit has been prepared and l trust it will assist the members of the Board of Enquiry. My brother Michael Williams, was reported to have been a passenger on that aircraft.</p>

                <p>Andrew Williams, my nephew, was at that time a serving officer in HM Royal Navy, on hearing of the incident and his father’s disappearance he obtained leave to travel to Malta, with his sister and was there during the period of the search for the missing aircraft and it’s passengers. On the 12th December 1995 he rang me and during our conversation he imparted the following information.</p>

                <p>On that day he had been in a Government building where he met a Maltese public figure believed to be a Dr. Philip Scibberas who took him into an office. He told a number of staff to leave the room, and when alone in the office, this public figure made the following statement, "We feel you have the right to know your father’s plane did not go down in the water, it went down on land and we know where it is."</p>
            
                <p>Andrew then asked the following questions.</p>

                <p>Q. How do you know where it is .<br />A. Our surveillance systems monitored its distress signal for several hours after it was reported missing.<br />Q. If it is on land is it inTunisia.<br />A. No.<br />Q. Then is it in Libya.<br />A. It is on the ground in Tripoli, now let me make it clear if you repeat this conversation to anyone outside this room, I will deny that I ever made such a Statement.</p>

                <p>Further to this, I know Andrews sister Julie was present with him in the government building and that she was there when Andrew was taken into the office. Julie was not allowed into the office but has confirmed that a number of staff did leave the office, and that Andrew was alone with the gentleman. I also know that Julie has confirmed this with Mr. Cormac Boomer.</p>

                <p>On the 15th December 1995, I contacted the Boomer family in Belfast, during our conversationl conveyed the above information to Mr. Cormac Boomer.</p>

                <p>I find it also very hard to accept that my statement seems, from my point of view, to have been ignored by the Board of Enquiry, in the past. When you consider it was the subject of a press campaign in Malta in September 1996, and also given to Scotland Yard Investigators in 1997.</p>

                <p>Over the past three and a half years I have been in contact with Mr. Cormac Boomer and Ms. Pelligrini Petit, and I would fully endorse their statements.  I would like to take this opportunity to express my thanks to the members of the Board of Enquiry.</p>

                <p>Yours sincerely,</p>

                <div><img src="article-images/geoff williams affidavit.jpg" alt="Geoff Williams Signed Affidavit" title="Geoff Williams Signed Affidavit" /></div>
            
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
