<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Letter to Gerry Adams MP, providing documentation on the search</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Letter To Gerry Adams MP, from Cormac Boomer, providing documentation on the 5 year search for the missing passengers of 9HABU. Families are requesting respective governments through their Foreign Offices and European representatives to press the authorities in Malta to establish an international independant inquiry into this incident provided for under International Civil Aviation Regulations as part of our support for their application for membership" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="Letter" />
      <meta name="created-day" content="25" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2001" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter to Gerry Adams MP, providing documentation on the search</span>

                <p style="text-align: right">36 Riverdale Park North,<br>
                    Belfast BT11 9DL.<br>
                    <br>
                    25th January, 2001.<br></p>
                
                <p>Gerry Adams, MP.,<br>
                    President of Sinn Fein,<br>
                    c/o Connelly House,<br>
                    Andersonstown Road,<br>
                    Belfast BT11<br></p>
                
                <p>Dear Gerry,</p>
                
                <p>The enclosed documentation relates to the five year search for missing son Desmond and out efforts to establish the truth surrounding his disappearance in Djerba, Tunisia, on the 2nd December 1995</p>
                
                <p>The search for information has been vigourously persued by the Aqualina family in Malta, the Williams family in Liverpool and ourselves, at our own expense in time and finance whoch to date has been considerable. We had been aware for some time that the Government in Malta had made an application to join the European Community, arisng from which we, the Williams and Boomer family, have agreed to adopt a new strategy in our search for the truth surrounding the incident.</p>

                <p>We have decided to request our respective governments through their Foreign Offices and European representatives to press the authorities in Malta to establish an international independant inquiry into this incident provided for under International Civil Aviation Regulations, we have suggested to our governments that this should be done as part of our governments support for their application for membership.</p>
                
                <p>The government of Malta should be called to account for it's handling of the investigation into the disappearance of European citizens within (as they claim) their jurisdication, our frustrating experiences of the past five years have convinced us the Maltese authorities will continue to ignore the voices of the families of the missing until such time as our own governments support our requests for accountability and truth.</p>

                <p>The enclosed documents are for you informaton and records</p>

                <p>
                    (A) A brief summary of the information I have gathered during my investigations since December 1995.<br>
                    (B) My final submission to the Board of Enquiry<br>
                    (C) My affidavid to the Enquiry, a similar document was submitted by Geoff Williams confirming the information he conveyed to me on the afternoon of the 15th December 1995<br>
                    (D) An article written by Don Mullan for the Ireland on Sunday<br>
                    (E) Letter to Brian Cowan, T.D.<br>
                </p>
                
                <p>In December I raised this matter with the European Commission through it's offices in Belfast, Jim Dougal, Head of Commission informs me that my documents and correspondence has been forwarded to the Malta Unit in Brussels, I have also forwarded this correspondence to our three MEP's.</p>
                
                <p>I recognise that you are heavily engaged in matters relating to our on-going peace process, and I wish you every success in your efforts, however, as my Member of Parliament the enclosed information is important in the the event that you would as some future date be in a position to make enquiries on our behalf that would, hopefully, unlock the closed doors and breach the official wall of silence that surrounded this incident from the outset.</p>

                <p>In conclusion I would like to thank you on behalf of all the relatives of the missing for taking the time to read these documents and trust you will support our quest for accountability and truth.</p>
                
                <p>Yours sincerely,</p>

                <p></p>
                <p></p>
                
                <p>Cormac Boomer</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
