<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Information to Don re: Departure time of 9H-ABU on outbound flight</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Information sent by Cormac Boomer to Don Mullan re: Departure time of 9H-ABU on outbound flight" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="information" />
      <meta name="created-day" content="01" />
      <meta name="created-month" content="February" />
      <meta name="created-year" content="2002" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Information to Don re: Departure time of 9H-ABU on outbound flight</span>

                <p>Hi Don</p>
                
                <p>Following your enquiry regarding the departure time of the plane from Malta on the Saturday, I have spent hours going through my ﬁles looking for a letter I wrote to Rodney Wood in Yorkshire on the 3rd May 1999 (document No.00), this letter was returned to me sometime later with the six questions answered on the same page, and search as I might I cannot trace it. I now believe that I must have included in the black binder/file which I gave to you on the occasion of my meeting with you and Garth.</p>

                <p>In my search I came across a number of documents the contents of which will be of interest to you as follows</p>
                
                <div>
                    <ol style="list-style: decimal-leading-zero; margin-left: 30px;">
                    <li>International Civil Aviation (Standards Recommended Practices)</li>
                    <li>Letter from the Malta Department Civil Aviation to Rodney Wood 7th August 1996 .A similar letter was sent on the same date to David Sills to PO Box 83306 Tripoli</li>
                    <li>Reply from Rodney Wood to the Department 241*‘ October 1996.</li>
                    <li>The Malta Independent 23rd April 1999 reports the sitting of the Board at which Omar Klebb the third of the four passengers gave evidence, you will note that not with standing three years on his description of the ﬂight was in language similar to that of Rodney Wood.</li>
                    <li>Letter from Brian Cowen’s ofﬁce Foreign Affairs in response to my request for assistance</li>
                    <li>My letter to Gerry Adams MP and his reply, similar letters and documents were sent to Hume, Nicholson and Paisley.</li>
                    <li>Reply from Jim Nicholson.</li>
                    <li>Part transcripts of the sitting of August 97 forwarded by Cecilia in 1998.It makes interesting reading</li>
                    <li>Report from the Air Accident Investigation Branch Farnborough in response to request by the Board of Enquiry to can'y out an investigation into the long awaited Tunisian ATC tapes. It took three years to get these tapes to Malta and then they were only copies.</li>
                    <li>This article was written in Kullhadd and was faxed Mandy’s solicitor John Dobson it has an unusual date mark 24 November 1996 but perhaps this is a genuine mistake which occurred in the translation and was not corrected, it came to me via my son who at that time was employed by Mandy’s new solicitor. Its contents indicate that from an early stage the comments of R Wood have consistent</li>
                    <li>My ﬁrst letter to Mr L Maguire the Hon. Consulate of Tunisia in Ireland, we had two meetings with him in the Burlington, at the ﬁrst one he was enthusiastic promised us action but nothing came of it, we pressed for a second meeting, it was rather cool, he never responded to any of our correspondence</li>
                    <li>Letter from the European Commission Ofﬁce, which is self-explanatory</li>
                    <li>Cecilia’s ﬁnal submission to The Board of Enquiry, with which I concurred</li>
                    <li>This is the ﬁrst piece of evidence I collected in mid December 1995 from a local man a Mr. Ross who worked in Libya with Desmond, I sent copies to each individual member of the Board but as with all my correspondence to these gentlemen I never received an acknowledgement.</li>
                    <li>Letter to the Director General Civil Aviation Authority Malta as, with all other correspondence no acknowledgement or response.</li>
                </ol>
                </div>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
