<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Response from Irish Foreign Affairs Office, Dublin</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Response from Irish Foreign Affairs Office, Dublin. Taoiseach. Mr. Bertie Ahern T.D. asked the Maltese authorities whether there was anything else they could do to assist. There was no further advice nor assistance the Maltese authorities could offer. With regard to the Irish Government seeking an independent judicial inquiry the Minister considers that such a move would imply a lack of confidence in the report of the Board of Inquiry and that would be likely damage our relations with Malta" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Irish Foreign Affairs" />
      <meta name="category" content="Irish Government" />
      <meta name="created-day" content="31" />
      <meta name="created-month" content="January" />
      <meta name="created-year" content="2001" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Response from Irish Foreign Affairs Office, Dublin</span>

                <p style="text-align: right; color: lightgreen;">
                    <span>OIFIG AN AIRE GNOTHAI  EACHTRACHA</span><br>
                    <span style="font-size: 0.8em">(OFFICE OF THE MINISTER FOR FOREIGN AFFAIRS)</span><br>
                    <br>
                    BAILE ATHA CLIATH 2<br>
                    <span style="font-size: 0.8em">(DUBLIN 2)</span><br>
                </p>
                
                <p>Mr. Cormac Boomer<br>
                    36 Riverdale Park North<br>
                    Belfast BT11 9DL<br>
                    <br>
                    January 2001<br>
                    <br>
                    <strong>Our Ref:</strong> CON000345<br>
                    <br>
                    Dear Mr Boomer.<br>
                </p>

                <p>On behalf of the Minister for Foreign Affairs. Mr. Brian Cowan T.D.. I am writing with reference to your letter of 30 November, received on 12 December 2000 about the disappearaiice of your son Desmond in 1995.</p>

                <p>The Minister is aware that the report of the Board of Inquiry established by the Maltese Government. into the accident in which aircraft 9HABU was involved makes no mention of any evidence that your son was aboard when it took off from Djerba, Tunisia for Malta on 3 December 1995. He appreciates your desire, and that of Mrs. Mandy Boomer for conclusive evidence regarding how your son disappeared and he would like to be able to help you.</p>

                <p>During his visit to Malta earlier this month the Taoiseach. Mr. Bertie Ahern T.D. asked the Maltese authorities whether there was anything else they could do to assist your family to establish what happened to Desmond. There was no further advice nor assistance the Maltese authorities could offer.</p>

                <p>With regard to your request that the Irish Government seek an independent judicial inquiry the Minister considers that such a move would imply a lack of confidence in the report of the Board of Inquiry and that. as a serious implication of that nature would be likely to damage our relations with Malta it would not be in Ireland's overall interest to accede to your request. He is sorry that there is no other appropriate action open to the Irish Government.</p>

                <p>The minister has asked me to suggest that you consider taking legal advice as to the possibility of challenging in the Maltese courts what you see as omissions from the matters investigated by the Board of Inquiry or shortcomings in its procedures or its report.</p>

                <p>Yours sincerely .</p>

                <br>
                <img src="article-images/breifne-oreilly-sig.jpg" alt="breifne o'reilly signature">
                <br>
                
                <p>Breifne O'Reilly<br>
                    Private Secretary
                </p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
