<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Letter from Rodney Wood to the Board Of Inquiry</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Letter from Rodney Wood in response to questions asked by the Board Of Inquiry" />
    <meta name="author" content="Rodney Wood" />
    <meta name="category" content="letter" />
    <meta name="created-day" content="24" />
    <meta name="created-month" content="October" />
    <meta name="created-year" content="1996" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">
                <span class="header-blue">Letter from Rodney Wood in response to questions asked by the Board Of Inquiry</span>

                <div class="letter-head">
                    <p>Mr. R.C. Wood,<br />10 Stakesby Road,<br />Whitby,<br />North Yorkshire.<br />YO21 1HS</p>
                    <p>Tel: 0947 601704</p>
                    <p>Your Ref: DCA/INVI222</p>
                </div>

                <p>Dear Sir,</p>

                <p><strong><span style="text-decoration: underline;">Re: Investigation on the disappearance of Piper Lance Aircraft, registration marks 9H-ABU.</span></strong></p>

                <p>On the flight fron Malta to Djerba on 2nd December 1995 I sat next to the pilot as I have done before on various occasions. On the ground in Malta the weather seemed okay. The pilot did his normal checks and the G.P.S. did not work. The engine was then started and I noticed a slight screech which disappeared in seconds. The pilot made no comment.</p>

                <p>As we taxied the pilot continuously messed with the G.P.S. and wiring. The wire from the G.P.S. was connected by jack plug right infront of me.</p>

                <p>We took off and after approximately 10 minutes it was obvious what our flight path was - straight into a tremendous storm. At this stage I felt we would definitely turn back.</p>

                <p>We flew straight into the storm, the lightening alone was frightening. For the duration of the flight we were thrown all over with lightening strikes<br />all around us. There was very thick cloud and heavy rain which turned to hail storms. The screen was then packed with hail and all iced up.<br />we were all very cold and the pilot looked very worried. He handed me a torch plus some paper and asked me to try and find the fault on the G.P.S. wiring. To which I said, 'I am not an aircraft engineer and would not do anything to a plane on the ground, never mind at l0,000 feet in the middle of a storm.</p>

                <p>The pilot was continually rubbing his brow and checking or altering things on and around the dash as I have never noticed before. Approximately 20 minutes from Djerba I could smell burning- rubber for a split second, but still nothing was said. I then noticed the volt meter and amp meters<br />had gone off.</p>

                <p>We then landed in Djerba. On disembarking and walking around the front of the aircraft to collect our bags I noticed the alternator drive belt all shreaded. I immediately pointed this out to the pilot. He put his hand in and pulled the belt out with ease, all in bits, infront of everyone.</p>

                <p>At all times the weather was awful.</p>

                <p>We all went in to the airport and withn minutes the Mapel wanted to go. As we left the pilot was sitting with the old belt. I said, "I'll see you next time but what are you going to do about the belt?". He replied 'It will be no problem because we will wait for the storms to go so there is plenty of time'.</p>

                <p>What was meant by this statement was not exactly clear to me.</p>

                <p>It was obvious to me, being a fully skilled Rig mechanic that the plane was in no fit state to return to Malta without repairs.</p>

                <p>The flight from Malta to Djerba is one I will never forget as I have never experienced anything like it and would never want to ever again.</p>

                <p>There was no mention of Hotels and travelling the next day etc. In my opinion the pilot did not act professionally at all. If so, he would never have flown to Djerba, firstly because of the weather and secondly because of the state of the plane.</p>

                <p>I was never issued a ticket on these flights. A Unique Travel representative used to meet me at Malta Airport and tick my name on a manifest. We were then guided through immigration etc. by the pilot.</p>

                <p>This is a true statement made by me Rodney Charles Wood and dated this 24th day of October 1996.</p>

                <div class="article-image-r">
                    <img src="article-images/rodney wood signature.jpg" alt="Rodney Wood Signature" title="Rodney Wood Signature"/>
                </div>
            
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
