<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Letter from Director General Of Civil Aviation requesting ATC tapes and sworn statements that the plane was witnessed leaving Djerba airport</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Letter 6th June 1966 from Director General Of Civil Aviation, S.V. Fenech to Mr. Taieb, Director General of Civil Aviation in Tunisia. Requesting ATC tapes and sworn statements that the plane was witnessed leaving Djerba airport" />
    <meta name="author" content="S.V. Fenech, Director General Of Civil Aviation" />
    <meta name="category" content="inquiry" />
    <meta name="created-day" content="06" />
    <meta name="created-month" content="June" />
    <meta name="created-year" content="1996" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->
    
    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter 6th June 1966 from Director General Of Civil Aviation, S.V. Fenech to Mr. Taieb, Director General of Civil Aviation in Tunisia</span>

                <div class="letter-head">
                    <p>DIPARTIMENT TA L-AVJAZZJONI CIVILI<br />AJRUPORT TA'HAL-LUQA<br />MALTA</p>
                    <p>CIVIL AVIATION DEPARTMENT<br />LUQA AIRPORT<br />MALTA</p>
                    <p>Our Ref.  DCA/TNV/222<br />Your Ref.</p>
                    <p>Tel: 249170<br />Tlx: 1654 CAMLT MW<br />FAx: 356 239278</p>
                </div>

                <p>6 June 1996<br /><br />Mr M Taieb<br />Director General<br />Civil Aviation<br />Tunisia<br /><br />Dear Sir <br /><br/>INCIDENT INVOLVING PA32, 9H-ABU ON 3 DECEMBER 1995<br /><br /></p>

                <p>I would like to inform you that a public inquiry has begun in Malta to investigate the circumstances leading to the disappearance of the above mentioned aircraft.</p>

                <p>The Board of Inquiry has been presented with the copy of the transcript of the communications between the aircraft and Djerba ATC which you kindly transmitted to me by fax on 8 December 1996. The Board has instructed me to make enquiries with you as to:</p>
                        <p>(a). whether the tape recordings of the communication between the aircraft at Djerba ATC are still available</p>
                        <p>(b). whether a copy of these tape recordings could be made available to the Board.</p>
                <p>The Board has furthermore instructed me to seek through you a testimony under oath and confirmed by a Commissioner for Oaths from the aerodrome controller who was on duty when the said aircraft departed from Djerba. In particular the testimony should confirm that the controller had witnessed the departure of the aircraft 9H-ABU from Djerba Airport on 3 December 1995. It would also be appreciated if the statements under oath are obtained from other persons who could have witnessed the departure of the said aircraft from Djerba.</p>
    
                <p>I would also request you to transmit to me a copy of the report of investigations which the Tunisian Authorities have carried out on the incident, if such a report is available.</p>

                <p>Whilst I take this opportunity to thank you for your assistance and cooperation, I would appreciate to have an early reply</p>
                <p>Yours faithfully</p>
                <p>S.V. FENECH<br />DIRECTOR GENERAL<br />CIVIL AVIATION</p>

            </div>                      <!-- end of main-text -->

        </div>                      <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
