<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Letter from Niamh Ryan Irish Consulate to Cormac Boomer challenging the impartiality of the Board Of Inquiry</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Letter from Niamh Ryan Irish Consulate to Cormac Boomer on 12 January 1996 with translation of an article in the Maltese paper In-Nazzjon Taghna on Dr. Malcolm Pace challenging the impartiality of the Board Of Inquiry" />
    <meta name="author" content="Niamh Ryan" />
    <meta name="category" content="letter" />
    <meta name="created-day" content="12" />
    <meta name="created-month" content="January" />
    <meta name="created-year" content="1996" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Letter from Niamh Ryan Irish Consulate to Cormac Boomer, Dr. Malcolm Pace challenging the impartiality of the Board Of Inquiry</span>

                <div class="letter-head">
                    <p>AN ROINN GNOTHAI EACHTRACHA</p>
                    <p>Department of Foreign Affairs<br />BAILE ATHA CLIATH 2<br />Dublin 2</p>
                    <p>12 January, 1996</p>
                </div>

                <p>Mr. Cormac Boomer<br />36 Riverside Park North<br />Belfast<br />BT11 9DLL</p>

                <p>Dear Mr. Boomer,</p>

                <p>Further to our telephone conversation earlier today please find attached</p>

                <p>1. An unofficial translation of an article that appeared in the Maltese language paper "In-Nazzjon Taghna"</p>

                <p>2. An English-language article in the "Maltese Times"</p>

                <p>The Embassy will continue to monitor the case and I will update you with any information we receive.</p>
                <p>Yours sincerely,</p>
                <p>Niamh Ryan<br />Consular Section</p>

                <p><strong>Translation of Article In Nazzjon Taghha 10th January 1996</strong></p>
                
                <p>by Kari Stagno-Navarra</p>
                
                <p>The Enquiry on the private aeroplane that disappeared in the bad weather with six persons on board on a flight between Djerba and Malta in the early hours of Sunday 3rd December 1995 has been adjourned sine die" after the Bartolo Family, owners of the aeroplane. instituted a constitutional case against the Government on alleged conflict of interest of the members of the Board of Enquiry.</p>
                
                <p>Dr. Philip Sciberras. the Chairman of the Board suspended the Enquiry becasue Dr. Malcolm Pace the Bartolo family lawyer had opened a case last Monday at the First Hall of the Civil Courts to contest the members forming part of the Board of Enquiry as they could directly or indirectly have conflict of interest in deliberatlng the facts as they are all connected with Air Malta. a company in competition with Sun Aviation<br />Ltd, or are connected with the Civil Aviation Department, which may also be witness in the proceedings.</p>

                <p>(A description of the passengers follows - not translated).</p>

                <p>When approached by this paper yesterday. Dr. Philip Sciberras said that the Enquiry was suspended for an indefinite period or ‘sine die; until the Courts decided on the constitutionality of the case put to them.</p>

                <p>The case by the Bartolo family is being heard by Judge Franco Depasquale and a date has yet to be fixed. Reliable sources believe that the casa should start to be heard at the beginning ofnext week.</p>

                <p>Confident about the case he has opened, Dr. Malcolm Paco explained to the Nazzjon that every decision given by the 1st Hall of the Civil Courts on the constitutional validity of his argument is subject to appeal by the parties concerned. This means that should he be proved right the Government can appeal about the decision and vice-versa if the argument by the Bartolo Family is not sustained.</p>

                <p>Dr. Malcolm Pace explained to us that the point about conflict of interest of the Board members are "unequivocally clear and confirmed" by Air Malta itself who also recently issued a citation against Exelalr the private airline company for the sum of LM2,000 for ground handling expenses.</p>

                <p>Dr. Pace explained that from this action it was clearly proved that Air Malta was in competition with Sun Aviation Ltd. as well as every other private airline. He added that in the coming days Sun Aviation Ltd. ls expected to make a case against Air Malta for compensation of about L.M30,000 that Sun Aviation Ltd. had paid as extra expenses for ground handling before the just reforms in the rates and liberalisation took place when all ground handling for private aeropluncs passed to Malta International Airport instead of Air Malta.</p>

                <p>Despite the points raised on conflict of interest of the members of the Board of Enquiry the Attorney General Dr. Anthony Borg Barthet said he would do everything in his power to speed up procedures in the interests of all the parties involved. However, what do the families of the missing passengers think'? Dr. Jose Herrera who is appearing on behalf of Philip Farrugias family said he believed that the arguments put forward by Dr. Malcolm Pace regarding conflict of interest are “frivilous and will also delay unnecessarily the procedures of the board of enquiry". Dr. Herrera complained also about the lack of information on which is the insurance company of Sun Aviation Ltd.</p>

                <p>Dr. Joe Brincat appearing on behalf of Matthew Aquilina’s family when approached explained to us that any comment at this stage would be professionally unethical. A Lawyer representing his client should not comment to the Press on a case that is currently in Court. as it is his duty to speak in Court and not to the Press, an opinion we respect.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
