<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>List of contacts sent to Don Mullan</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="List of contacts sent to Don Mullan from Cormac Boomer" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="information" />
      <meta name="created-day" content="27" />
      <meta name="created-month" content="April" />
      <meta name="created-year" content="2002" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">List of contacts sent to Don Mullan</span>

                <p>Don</p>

                <p>You requested me sometime ago to put together a list of names and addresses, sorry for the delay but it takes me some time to get my head around these exercises, the following are not set out in any particular order and they can always be added to if required.</p>

                <p>The Office of the Prime Minister<br>
                Auberge De Castille<br>
                Valletta Malta<br>
                Tel. 00-356-225231</p>

                <p>Hon Cencus Galea Minister<br>
                Mr. Antony Mangoin Private Secretary<br>
                The Ministry for Transport and Communication<br>
                The House of the Four Winds<br>
                Hastings Gardens Valletta Malta<br>
                Tel. OO-356-225200</p>

                <p>Mr. A E Borg Barthet<br>
                Attorney General<br>
                Minister of Justice and Local Councils<br>
                Tel. OO-356-225401</p>

                <p>Dr. Philip Sciberras LLD<br>
                C/o Sciberras & Lia Advocates<br>
                160 Old Bakery Street<br>
                Valletta VTL-O9 Malta</p>

                <p>Mr. Antony Cassar<br>
                The Irish Consulate in Malta<br>
                M/s Carol Zammit-Briffa Secretary<br>
                Marcovin The Winery Valletta<br>
                Tel. 00-3 58-824918</p>

                <p>M/s Sharon Spitiri Reporter<br>
                The Sunday Times<br>
                Strickland House<br>
                341 St. Paul’s Street<br>
                Valletta ZLT-07</p>

                <p>(Be carefull if talking to Ms Spitri or anyone from this publication as this is very much an establishment paper I wrote to them many times but they never sought to interview me or seek my opinion following sittings of the enquiry)</p>

                <p>Mr. Louis Maguire<br>
                Tunisian Consul in Ireland<br>
                15 Rathgar Road Dublin 6<br>
                Tel, O0-3531-4976735</p>

                <p>Mr, Noel F Judd<br>
                Hon. Consul of Malta<br>
                Traversla Glengagary<br>
                Dublin<br>
                Tel. 00-3531-2801081</p>

                <p>Rodney C Woods<br>
                10 Streaksby Road<br>
                Whitby North Yorkshire<br>
                YZ1-lHG</p>

                <p>Maple Industrial Services<br>
                Haughton Road Darlington<br>
                MD G. Jackson Deputy R laurance<br>
                Tel. 01325-362362</p>

                <p>Teresa Augistymau Gorna<br>
                Ui Lagiewnika 80/98ml 13<br>
                91-456 Lodz Poland<br>
                Tel. 4842-6551472</p>

                <p>Cecilia Pellegrini Petit<br>
                2 oakridge<br>
                Sur Fons Street<br>
                St.Julian’s SLM- 05<br>
                Malta<br>
                Tel, O0-356-338196</p>

                <p>Daniel’s email<br>
                Re David Shayler (ex MI5 agent)<br>
                Email antony.barnett@observer.co.uk</p>

                <p>KullHadd Malta<br>
                Tel. O0-3 56-23 5313</p>

                <p>Leo Brincatt International Secretary<br>
                The Malta Labour Party<br>
                Tel. OO-356-240446</p>

                <p>C V Fenech Director of Operations<br>
                Department of Civil Aviation<br>
                Luqua Airport Malta</p>

                <p>NCIS Interpol<br>
                PO Box 8000 Tinsworth Street<br>
                London SE11-SEW<br>
                Tel. 0171-2388155<br>
                Contact W J Lloyd<br>
                Ref. D/AG-4C/13628/96</p>

                <p>Geoffrey Williams<br>
                17 Whitehart Close<br>
                Walton Liverpool<br>
                L4-6UT<br>
                Tel. 0151-476-1796<br>
                Email wilann17@hotmail.com</p>

                <p>Julie (Williams) Donohue<br>
                4 Long Cooke South Queens Ferry<br>
                Tel. 01942-603382<br>
                Email mdon4444@aol.com</p>

                <p>Don I have no info on Andrew Williams, should you ever track him down you will be fortunate if you get him to admit that he did in fact ring Geoff on the 12 December 1995, we have to take into account that although he has left military service he is still bound by the Official Secrets Act, but between you and I have long had the feeling that Geoff and the other members of the family are, and will continue to keep him beyond our reach for that reason.</p>

                <p>The following is a list of dates I ﬂew to Malta to attend sittings of the Enquiry</p>

                <ul>
                    <li>25 August /1 September 1996</li>
                    <li>10/15 November 1996</li>
                    <li>12/14 February 1997</li>
                    <li>13/17 May 1997</li>
                    <li>21/21 August 1997</li>
                    <li>9/13 May 1998</li>
                    <li>30 November / 8 December 1998</li>
                    <li>20/27 April 1999</li>
                    <li>23/17 June 1999</li>
                </ul>
                
                <p>Re No 5 this was a one day visit on the occasion when the new labour government came to power and the new minister asked to meet the Maltese relatives of the missing, Cecilia felt I should be there and the minister was surprised to be told who I was, as with all the sittings of the Enquiry we had little more than thirty six hours notice, hence the cost of fares was always expensive and this one was by far the most expensive. I arrived in Malta at two am and ﬂew out again that evening. If there is any clariﬁcation or info you need on the contents let me know, but having got this out of the way I can now concentrate on the letters to GA and Foreign Affair</p>

                <p>Regards</p>

                <p>Cormac</p>
                
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
