<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Article by Paul Foot, in Private Eye, inquiry in to the Lockerbie disaster</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Article by Paul Foot, published in Private Eye, on the Camp Ziest, inquiry in to the Lockerbie disaster." />
    <meta name="author" content="Paul Foot, Private Eye" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="24" />
    <meta name="created-month" content="August" />
    <meta name="created-year" content="2011" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu"> 
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">LOCKERBIE - THE FLIGHT FROM JUSTICE</span>

                <div class="article-image-r"><img src="article-images/private-eye-lockerbie.jpg" /></div>

                <p>Recently I was given a copy of a report written by Paul Foot and published in Private Eye.</p>

                <p>As I read through this article I was once again struck by how powerless oridinary people are when faced with international politics and the determination of those in power to protect themselves and their intelligence services, whose deceptions are incompatible with the search for justice.</p>

                <p>The report highlights just how much time and effort those in power are prepared to spend to manipluate our understanding of events and justify their own actions. It also shows that we cannot as individuals trust the governments that we often look to for the truth, for our governments have others who they answer to.</p>

                <p>It is interesting that Malta plays a pivotal part in the Lockerbie inquiry and even if one overlooks the glaring inconsistencies in the verdicts, it is obvious that Malta has been a melting pot for the many faces of international terrorism for many decades now. </p>

                <p>I was particularly struck by a paragraph near the end of the article,</p>

                <p><span style="font-style: italic;">"In February 1990, a group of British relatives went to the American embassy in London for a meeting with the seven members of the President’s commission on aviation security and terrorism. Martin Cadman (whose son Jim was on the flight) remembers: “After we’d had our say, the meeting broke up and  we moved towards the door. As we got there, I found myself talking to two members of the Commission – I think they were senators. One of them said: </p>
      
                <p><span style="font-style: italic;">'Your government and our government know exactly what happened at Lockerbie. But they are not going to tell you.’ ”</p>
      
                <p><span style="font-style: italic;">Eleven years later, after a prolific waste of many millions of pounds and words, that is still the position.</p>
      
                <p>On a number of occassions similar statements have been made to the families of the men who were lost on flight 9H-ABU.</p>
      
                <p><a href="../documents/Lockerbie.pdf">Click here to read the full Lockerie report</a></p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
