<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>Correspondence with Madden &amp; Finucane Solicitors Regarding Press Complaint</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="description" content="Correspondence with Madden &amp; Finucane Solicitors regarding complaint made to Press Complaint COmmission about article published in Sunday Life" >

      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="author" content="Cormac Boomer" />
      <meta name="category" content="Correspondence" />
      <meta name="created-day" content="20" />
      <meta name="created-month" content="November" />
      <meta name="created-year" content="2001" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
        
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Correspondence with Madden &amp; Finucane Solicitors Regarding Press Complaint</span>
                
                <p style="text-align: center;"><strong>MADDEN &amp; FINUCANE SOLICITORS</strong></p>

                <div>
                    <div style="float: right; text-align: right;">
                        69 Church Street<br>
                        Downpatrick, BT30 6EH<br>
                        Telephone 1 (028) 4461 7262<br>
                        Fax ; (028) 4461 7322<br>
                        DX Box No : 2976 NR<br>
                        <span style="font-size: 12px;">e-mail: enquiries@madden-ﬁnucanecom</span><br>
                    </div>

                    <div style="float: left;">
                        Patrick J.Finucane (1949 - 1989)<br>
                        Peter J. Madden&nbsp;&nbsp;&nbsp;Nichola Harte<br>
                        Patricia Coyle&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angela Ritchie<br>
                        Paula Collins<br>
                        <hr><br>                                         
                        Andrew Russell&nbsp;&nbsp;&nbsp;Roisin McKenna<br>
                        Gerald Hyland&nbsp;&nbsp;&nbsp;&nbsp;Ciaran Shiels<br>                               
                        Maura McKenna<br>
                    </div>
                </div>


                <p style="clear: both; text-align: right">20 November, 2001</p>

                <p>Our Ref: <strong>L /GMH/DSL</strong></p>

                <p>Mr Cormac Boomer<br>
                   36 Riverdale Park North<br>
                   BELFAST</p>

                <p>Dear Mr Boomer</p>

                <p><strong>Re: Newspaper Complaint</strong></p>

                <p>Further to your recent attendance with our Mr Hyland, We attach a draft letter to be sent to the Editor of the Sunday Life.</p>

                <p>If you remain dissatisﬁed with the response you can forward the matter to the Press Complaints Commission at:</p>

                <p>Press Complaints Commission<br>
                   1 Salisbury Square<br>
                   London EC4Y 8JB<br>
                </p>
                    
                <p>If you wish to discuss this matter further, do not hesitate to contact our Mr Hyland.<br>
                    We wish you success in your quest for the truth.</p>

                <p>Yours faithfully<br>
                   Madden &amp; Finucane</p>

                <p><img src="article-images/madden-finucane.jpg" alt="Solicitors Signature"></p>

                <div style="text-align: center;">
                    <em>Also at:</em> 88 Castle Street, Belfast BTI 1115. Telephone 022 90238001 Fax 028 9043976, ox Box No. 434NR<br>
                    <em>and:</em> 40A Irish Street, Armagh. BT61 7bP. Telephone 028 3752 2107. Fax 028 3751 0733. DX Box No. 2798NR<br>
                </div>
                <hr style="width: 75%; margin: auto;">
                <div style="text-align: center">
                REGULATED BY THE LAW SOCIETY OF NORTHERN IRELAND IN THE CONDUCT OF INVESTMENT BUSINESS
                </div>

                <p></p>
                <p></p>
                <hr>
                <p></p>
                <p></p>
            
                <div>
                    <div style="float: right; text-align: right;">
                        69 Church Street<br>
                        Downpatrick, BT30 6EH<br>
                        Telephone 1 (028) 4461 7262<br>
                        Fax ; (028) 4461 7322<br>
                        DX Box No : 2976 NR<br>
                        <span style="font-size: 12px;">e-mail: enquiries@madden-ﬁnucanecom</span><br>
                    </div>

                    <div style="float: left;">
                        Patrick J.Finucane (1949 - 1989)<br>
                        Peter J. Madden&nbsp;&nbsp;&nbsp;Nichola Harte<br>
                        Patricia Coyle&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Angela Ritchie<br>
                        Paula Collins<br>
                        <hr><br>                                         
                        Andrew Russell&nbsp;&nbsp;&nbsp;Roisin McKenna<br>
                        Gerald Hyland&nbsp;&nbsp;&nbsp;&nbsp;Ciaran Shiels<br>                               
                        Maura McKenna<br>
                    </div>
                </div>

                <p style="clear: both; text-align: right">29 November, 2001</p>

                <p>Our Ref: <strong>L/GMH/NOH</strong></p>

                <p>Mr Cormac Boomer<br>
                   36 Riverdale Park North<br>
                   BELFAST</p>

                <p>Dear Mr Boomer<br>
                   <strong><em>FIRST CLASS POST</em></strong>
                </p>

                <p>Dear Mr. Boomer.</p>

                <p>Re: <strong>SUNDAY LIFE - COMPLAINT</strong>

                <p>We refer to the above and to recent correspondence with you. Please on receipt of this letter kindly contact Mr. Hyland’s secretary Noreen with details of your Date of Birth and National Insurance Number - we need this information for the purpose of opening a ﬁle. A telephone call would sufﬁce.</p>

                <p>Many thanks.</p>

                <p>Yours faithfully</p>

                <p>Madden &amp; Finucane</p>

                <p><img src="article-images/madden-finucane-2.jpg" alt="Solicitors Signature"></p>

                <div style="text-align: center;">
                    <em>Also at:</em> 88 Castle Street, Belfast BTI 1115. Telephone 022 90238001 Fax 028 9043976, ox Box No. 434NR<br>
                    <em>and:</em> 40A Irish Street, Armagh. BT61 7bP. Telephone 028 3752 2107. Fax 028 3751 0733. DX Box No. 2798NR<br>
                </div>
                <hr style="width: 75%; margin: auto;">
                <div style="text-align: center">
                REGULATED BY THE LAW SOCIETY OF NORTHERN IRELAND IN THE CONDUCT OF INVESTMENT BUSINESS
                </div>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                                    -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
