<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Steve Chetcuti, Malta Independent, Dr Malcolm Pace, legal representative of the Bartolo family discusses the findings of the board of inquiry</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Article written by Steve Chetcuti, published by the Malta Independent where Dr Malcolm Pace, legal representative of the Bartolo family discusses the findings of the board of inquiry" />
    <meta name="author" content="Steve Chetcuti, Malta Independent" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="16" />
    <meta name="created-month" content="January" />
    <meta name="created-year" content="2000" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Victims families may soon get some answers</span>

                <p>by Steve Chetcuti, January 16th 2000</p>

                <p>Mystery still shrouds the disappearance of the ill-fated Piper Lance which disappeared on 3 December 1995. But the many questions raised by the families of the six men, including pilot Carmel Bartolo, may soon be answered.</p>
      
                <p>Dr Malcolm Pace, who is representing Captain Bartolo's family, told The Malta Independent on Sunday that the report on the disappearance of the plane prepared by the board of inquiry is expected to be published in the coming days. The board was set up on 4 December 1995, the day after the incident. The commission is chaired by Dr Philip Sciberras and includes Captain Franz Sturmeier and engineer Louis Giordmaina. Meanwhile, the families of the six people who went missing are still waiting for answers.</p>
      
                <p>Captain Bartolo, 47, from Zebbug, was piloting the aircraft. The passengers were 43 -year-old Philip Farmgia, Matthew Aquilina 22, British national Michael Williams, Tadeus Gorny, a Polish national, and Irishman Desmond Boomer.</p>
      
                <p>While presenting submissions on behalf of the Bartolo family during a board of inquiry sitting held earlier this week, Dr Pace raised a number of questions on the events which led to the disappearance. He said six distinct possibilities existed to explain the incident, namely</p>

                <ul class="article-ul">
                    <li class="article-li">the plane never took off</li>
                    <li class="article-li">was intercepted or hijacked and forced to land elsewhere</li>
                    <li class="article-li">was sabotaged and exploded in mid-air</li>
                    <li class="article-li">crashed into the sea after developing an engine fault</li>
                    <li class="article-li">was hit by lightning in a heavy storm</li>
                    <li class="article-li">crashed after the pilot was taken ill</li>
                </ul>

                <p>Explaining the possibilities in sequence, Dr Pace told the board of inquiry that no eyewitnesses ever confirmed that the flight had taken off from Djerba. In addition, the battery was not charged enough to start the engine because, it was alleged, the alternator belt had torn on the Malta to Djerba flight.</p>
      
                <p>The lawyer said there was no evidence that the battery had been put on charge or any requests for maintenance had been made. Claims that the alternator belt could have been changed by the pilot were also improbable as the replacement required special tools as testified by experts, Dr Pace said. Dr Pace said the pilot, or two other passengers, did not call Malta before they left as they had usually done on other occasions. No debris or oil slick was found floating in the sea after the alleged crash, he continued. He said the Malta control centre (CCR) did not contact the Piper and no evidence was produced to suggest any radar contact, civil or military. The voice on a tape-recording of a conversation between the Djerba control centre and the Piper was not even identifed by the family of the captain, Dr Pace said.</p>
      
                <p>However, Dr Pace said the plane could have been hijacked and the passengers taken hostage in connection with the Fatqi Shqaqi murder which took place in Malta a few months earlier or the Lockerbie Pan Am flight disaster for some future exchange. He said the Piper Lance could have been sabotaged as wreckage found was compatible with that of a mid-air explosion. The damage was also compatible with the plane being hit by lightning as confirmed by Piper experts, he continued. However, it was not typical of Capt. Bartolo, who had 2,200 flight hours under his belt, to fly in precarious weather conditions, the lawyer said.</p>
      
                <p>Dr Pace said a mechanical or technical fault was also listed as a possibility but the failure to trace the engine did not allow checks to be made. He said the pilot could have been taken ill during the flight but medical certificates were still valid.</p>
      
                <p>The mystery of the disappeared Piper was not even solved by Paul Lehman, an expert in the field who had identified wreckage as that of the missing plane. In his conclusions, he said the cause of the crash was "indeterminable".</p>
      
                <p><strong>3 December 1995 04.11 Hrs Last contact with Piper Lance 9H-ABU</strong></p>
      
                <p>According to Tunisian authorities, the plane reached Malta’s Flight Information Region (FIR) boundary at around 4. l11 am on the ill-fated day, Dr Pace told the board. The authorities insisted that the plane left their territory and disappeared in international waters and the matter was no longer their responsibility which had been transferred to Malta as the country of registration. However, no radio contact was made with the Maltese CCR according to procedure when the plane allegedly entered Maltese FIR, Dr Pace said quoting from testimonies given during the procedures before the board.</p>
      
                <p>Another curious point, the lawyer said, was that Tunisian authorities had alerted their Maltese counterparts about the incident and not the other way round. The Tunisians had also asked the Maltese if radio contact had been established with the Piper, he continued.</p>
      
                <p><strong>Considerable delays in SAR</strong></p>
      
                <p>Dr Pace complained that both local and Tunisian authorities took far too long to start search and rescue operations. In fact, over six hours had elapsed before the SAR operation begun even though the alarm was raised 30 minutes after the approximate time ofthe incident. Concrete steps to implement a SAR operation also took far too long and undoubtedly had far reaching consequences, Dr Pace said. Certain strategic areas could not even be included in the search as the Libyan authorities did not give permission. No Armed Forces of Malta patrol boat, helicopter or fixed-wing aircraft was used during the initial stages and some vital stages ofthe operation.</p>

                <p><strong>Wreckage found by fishermen</strong></p>
            
                <p>Tunisian fishermen had allegedly found wreckage of the Piper Lance on 20 September 1996 but the Tunisian authorities informed the local authorities and the board only a month after, Dr Pace said. Board members were only allowed to inspect the wreckage a staggering six months later, he continued. The lawyer said the fishermen who found the wreckage had never been identified or brought before the board to testify. Questions were also raised about the veracity of the version given by the Tunisian authorities that the wreckage had just been found.</p>
      
                <p>Dr Pace said the coins and keys found in a wallet which had allegedly belonged to the captain did not have a great deal of rust on them and another strange point was that the keys were in the wallet although Capt. Bartolo normally kept them separate.</p>
      
                <p><strong>Tape conversation more delays</strong></p>
      
                <p>The alleged conversation between the captain and the Tunisian control tower were only handed over to the board after 16 months, Dr Pace said. And this was not the original tape but a copy, he added. The written transcript of the tapes suggested a duration of around 33 minutes but the tape recording lasted only 15 minutes 10 seconds, he said.</p>
      
                <p><strong>Conclusions</strong></p>
      
                <p>Dr Pace said the conclusions of the board, from the evidence presented before it, could only be 'inconclusive'. He said various issues pertaining to the case were not convincing and many questions remained unanswered.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
