<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Malta Business Weekly, discusses the possible link between Shqaqi and the disappearance of 9H-ABU</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />

    <meta name="description" content="Article published in the Malta Business Weekly, on April 11th 1996. Discusses the possible link between Shqaqi and the disappearance of 9H-ABU." />
    <meta name="author" content="Malta Business Weekly" />
    <meta name="category" content="Newspaper" />
    <meta name="created-day" content="11" />
    <meta name="created-month" content="April" />
    <meta name="created-year" content="1996" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">
                
                <span class="header-blue">Malta Business Weekly</span>

                <p></p>

                <p><strong>April 11th 1996</strong></p>

                <p>Enough time has now passed for anything substantial to surface in the case of the  small Piper Lance plane that failed to make the voyage from Djerba to Malta last 3rd December. In the meantime nothing has been found in the sea, despite various ships that ply the route and despite continuous searching especially in the first days.</p>

                <p>On the contrary an Italian trawler that sunk around the same time and in the same area has been located and according to Maltese sources an Italian plane or heliopter is continually circling the area where the ships submerged bulk lies. No reason has been given for this. Meanwhile no oil slick has been noticed in the sea area from Malta to Djerba in the  day after the planes disappearance. Usually in the case of a downed plane the fuel comes out of its tanks and forms an oil slick which becomes immediately noticeable.</p>

                <p>Speculation thus becomes rife in these cases. One line of speculation increasingly being held both the missing persons families and by people involved in the whole sector holds there is a direct link between the killing in Malta of Hamas leader Fathi Shqaqi some weeks before the planes disappearance. Shqaqi had been killed by two men were ascribed variously to the Mossad or to Libyan intelligence itself. The two men, who might have had accomplices were never found on the island and speculation has said that they had skipped the island as soon as the killing was done. One local paper had said that they had fled by a private plane piloted by a Maltese national while other reports said the plane had gone to Tunisia. It has been confirmed that the Excelair Piper did not fly in these days but another Excelair plane did fly twice to Tunisia.</p>

                <p>A further twist in the mystery is the fact that there are some reports seemingly originating in France that a may-day call was heard at the same time as the plane disappeared. These reports say that the call originated not over the sea but in an area bordering on Libya.</p>

                <p>One last mystery within a mystery is the fact that it was only in this case that Tunisian authorities phoned the Malta Flight Region Offices that very morning to enquire whether the plane had passed on to the Malta FIR zone. Something like this has never happened, say sources close to the Maltese civil aviation authorities.</p>

                <p>The Maltese on board were Carmel Bartolo, of Zebbug, married with four children. Philip Faruggia, 43, married father of two, 22 year old accountant Matthew Aqualina who lived in Swieqi, Irish man Desmond Boomer and Tadeusz Gorny from Poland.</p>
            
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
