<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Murder of Peter Jones in Sliema police investigating three motives</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="murder-of-peter-jones-in-sliema-police-investigating-three-motives" />
    <meta name="author" content="Natalino Fenech, The Times, Malta " />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="13" />
    <meta name="created-month" content="October" />
    <meta name="created-year" content="1997" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">
                
                <span class="header-blue">Murder of Peter Jones in Sliema - Police Investigating three motives</span>
                <p></p>
                    
                <p><strong>By Natalino Fenech</strong></p>

                <p>The Times, Malta Monday October 13 1997</p>

                <p>The police were yesterday trying to establish the motive which to the killing of 58 year old Peter Jones, whose body was found in his apartment in Amery Street, Sliema on Thursday night. Police sources said that the post mortem showed that Jones had been dead since Tuesday. The police are believed to be following three motives for the murder.</p>

                <div class="article-image-r"><img src="article-images/peterjones.jpg" alt="Peter Jones, Murder in Sliema" title="Peter Jones" /></div>

                <p>Mr. Jones could have been the victim of an emotional relationship, a theory which the police believe is a viable one because of his involvement with several Arab persons. The fact that there were no signs of of a break-in to his apartment and that nothing was disturbed strengthen this possibility.</p>


                <p>The second is that Mr. Jones could have been a victim of one of the persons living in this guesthouse and the killing followed an argument over payment.</p>


                <p>The third possible motive, which the police seem to believe is the most likely, is that Mr. Jones could have been the victim of of an attack by Islamic Fundamentalists. Mr. Jones body was found dead with his throat slit from ear to ear. "Unless someone tried to to make it seem so, this is an indication of an Arab sacrificial killing. It is essentialy the way fundamentalists kill", a police source said.,</p>


                <p>The police fear Mr. Jones public statements that he knew who had killed Amer Hisham Ali Mohammed, the Libyan who was shot in November 1995, could have had to do with his murder. The police strongly believe that Amer Hisham was a member of the Anti-Gadaffi movement. Police sources said that they did not believe that Mr. Jones really knew anything of significance but the fact that he kept insisting he know might have led to his elimination.</p>

                <p>Investigations in to the case are being hindered by various factors. The body was found dead two days after the victim was killed, ample time for the killer or killers to have left the island. The police were still working on finger prints lifted from the scene of the crime. One of the main stumbling blocks is that the police do not have equipment for lifting finger prints from skin and various types of fabric, hence any fingerprints on Mr. Jones body or clothes cannot be traced.</p>


                <p>A number of arrests have been made, but sources said the the arrests were rountine, made each time such a serious crime happens. The police were however looking for a Tunisian national who they believe, could help in the investigations.</p>

                <p>Anyone with any information about Mr. Jones latest movements is asked to contact the police on 221111</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
