<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Cecilia Aqualina - translation of newspaper article on the death of Peter Jones</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Letter sent by Cecilia Aqualina to Cormac Boomer on 14th October 1997. With translation of newspaper article on the death of Peter Jones" />
    <meta name="author" content="ill-hadd" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="14" />
    <meta name="created-month" content="October" />
    <meta name="created-year" content="1997" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">l KNOW WHO KILLED FATHI SHQAQI</span>
                <p></p>

                <p>14th October 1997</p>
      
                <p>Dear Cormac &amp; Alice,</p>
      
                <p>l am enclosing three newspaper cuttings relating to a recent case in Malta for your info. One of the newspapers is in our language so l am going to try and give you a translation in short of its contents;</p>
      
                <p><strong>TRANSLATlON:</strong></p>


                <div class="article-image-r"><img src="article-images/i-know-who-killed-shqaqi-small.jpg" alt="Newspaper Article from ill-hadd" title="Newspaper Article from ill-hadd" /></div>

                <p><strong>l KNOW WHO KILLED FATHI SHQAQI</strong></p>


                <p>Peter Jones, who on Thursday evening was found dead with a slit throat, had told the police that he knew who had killed Shqaqi. Jones was of the opinion that the police was not interested to find out the killer of Shqaqi. Jones has said that the killer of Sqaqi was a young Libyan who had for some time lived in his apartment in Siliema. (Jones apparently used to rent out his apartments to some Libyan nationals). After the killing of Shqaqi the young youth who according to Jones had killed Shadi had disappeared from Jones' apartment but Jones had seen this youth somewhere in Malta weeks after the killing of Shqaqi.</p>


                <p>Shqaqi had been killed in Malta in October of nearly two years ago. ln the newspaper of Nov. 1995 this newspaper had reported that one of these killers was living in an apartment in Siliema. Jones used to say that in the past few months he had tried many times to tell the Commissioner of Police about the identity of Shqaqi's killer. ln the weeks following the killing of Shqaqi, Jones had also spoken to one of the ex ministers during the Nationalist administration and told him of the information that he possessed but as far as he (Jones) knew knowing was done.</p>


                <p>Jones 58 years was found in his apartment in Amery Street, Siliema, on Thursday evening at about 10:30 pm. His body was in state of decomposition. The body was found lying on the sofa and he had a deep wound under his chin.</p>


                <p>ln fact no force of entry into Jones' flat was found and apparently the killer of Jones had apparently no problem getting into his flat. There was nothing stolen and apparently who ever entered the flat had no intention to steal. The probability is that Jones himself had invited his own killer to go to his apartment The killer seems to have used this to kill Jones without any  problems.</p>


                <p>lt is understood that Jones in the last few weeks had told someone that he was very much afraid that he would be eliminated.  Jones hardly ever mentioned the Shqaqi case but he had mentioned that people  involved in the business of illegal carring of people to other countries has <br />apparently threatened him that they would kill him. These were Arab nationals and lived in his appartments.</p>

                <p><strong>WHO WANTED TO KILL JONES</strong></p>


                <p>In his appartment also lived another Arab national who was killed in Malta in Tigne in August 1996 and another Arab was investigated by police for the killing of the arab killed in Tigne.</p>


                <p>Jones had previously said that someone had tried to kill him in January 1997 a Syrian youth was accused ofthe attempted killing of Jones.</p>


                <p>This Syrian was found guilty and deported from Malta. Jones used to say that a Tunisian wanted to eleminate him and the police was not able to trace this Tunisian who was to be witness in another case of another Arab or Tunisian who was to appear in court for the atte ted murder of his wife.</p>


                <p>This woman told court that she had not seen her husband since 2 years and six months but he sometimes used to go and see their son. This person who had tried to kill his wife had also tried to kill Jones with a wire. But Jones had managed to escape from Driss as the wire had tore. Driss was one of the flrst persons that the police was trying to trace.</p>

                <p>Until going to print this newspaper had not managed to find out if the police had traced him.</p>      

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
