<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Operation of aircraft annex 6</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="INTERNATIONAL STANDARDS AND RECOMMENDED PRACTICES OPERATION OF AIRCRAFT Annex 6 TO THE CONVENTION ON INTERNATIONAL CIVIL AVIATION Part 1 INTERNATIONAL COMMERCIAL  AIR TRANSPORT – AEROPLANES Sixth edition of Part 1 July 1995" />
    <meta name="author" content="Civil Aviation" />
    <meta name="category" content="Documentation" />
    <meta name="created-day" content="07" />
    <meta name="created-month" content="August" />
    <meta name="created-year" content="1995" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Operation of aircraft annex 6</span>

                <br>
                
                <h3 style="text-align: center;">INTERNATIONAL STANDARDS <br />AND RECOMMENDED PRACTICES</h3>
                <h1 style="text-align: center;">OPERATION OF AIRCRAFT</h1>
                <p style="text-align: center;">Annex 6<br />TO THE CONVENTION ON INTERNATIONAL CIVIL AVAITION</p>
                <p style="text-align: center;">Part 1<br />INTERNATIONAL COMMERCIAL <br />AIR TRANSPORT – AEROPLANES</p>
                <p style="text-align: center;">Sixth edition of Part 1 July 1995</p>
                <p style="text-align: right;">Annex 6 – Operation of Aircraft</p>
                <p style="text-align: left;"><strong>Chapter 6</strong></p>

                <p>5 700 kg up to and including 27 000 kg that are of types of which the prototype was certified by the appropriate national authority after 30 September 1969 should be equipped with a cockpit voice recorder, the objective of which is the recording of the aural environment an the flight deck during flight time.</p>

                <p style="padding-left: 30px;">6.3.8 Cockpit voice recorders — duration</p>

                <p>6.3.8.1 A cockpit voice recorder shall be capable of retaining the information recorded during at least the last 30 minutes of its operation.</p>

                <p>6.3.8.2 <strong>Recommendation</strong> - A cockpit voice recorder, installed in aeroplanes of a maximum certified takeoff mass of over 5 700 kg for which the individual certificate of airworthiness is first issued on or after 1 January I 990, should be capable of retaining the information recorded during at least the last two hours of its operation.</p>

                <p style="padding-left: 30px;">6.3.9 Flight recorders — construction and installation</p>

                <p>Flight recorders shall be constructed, located and installed so as to provide maximum practical protection for the recordings in order that the recorded information may be preserved recovered and transcribed.</p>

                <p style="padding-left: 30px;">6.3.10 Flight recorders — operation</p>

                <p>6.3.10.1 Flight recorders shall not be switched off during flight time.</p>

                <p>6.3.10.2 <strong>Recommendation</strong> - To preserve flight recorder records, flight recorders should be de-activated upon completion of flight time following an accident or incident, and not re—activated prior to removal of these records.</p>

                <p style="padding-left: 30px;">6.4 All aeroplanes operated as VFR flights</p>

                <p>6.4.1 All aeroplanes when operated as VFR flights shall be equipped with:</p>

                <p style="padding-left: 30px;">a) a magnetic compass;<br />b) an accurate timepiece indicating the time in hours, minutes and seconds;<br />c) a sensitive pressure altimeter;<br />d) an airspeed indicator; and<br />e) such additional instruments or equipment as may be prescribed by the appropriate authority.</p>

                <p>6.4.2 VFR flights which are operated as controlled flights shall be equipped in accordance with 6.9.</p>

                <p style="padding-left: 30px;">6.5 All aeroplanes on flights over water</p>

                <p style="padding-left: 60px;">6.5.1 Seaplanes</p>

                <p>All seaplanes for all flights shall be equipped with:</p>

                <p style="padding-left: 30px;">a) one life jacket, or equivalent individual floatation device, for each person on board, stowed in a position easily accessible from the seat or berth of the person for whose use it is provided;<br />b) equipment for making the sound signals prescribed in the Intemational Regulations for Preventing Collisions at Sea, where applicable; and <br />c) one sea anchor (drogue)</p>

                <p>Note- "Seaplanes" includes amphibians operated as seaplanes.</p>

                <p style="padding-left: 30px;">6.5.2 Landplanes</p>

                <p>6.5.2.1 Landplanes shall carry the equipment prescribed in 6.5.2.2:</p>

                <p style="padding-left: 30px;">a) when flying over water and at a distance of more than 93 km (50 NM) away from the shore, in the case of landplanes operated in accordance with 5,2.9 or 5.2.10;<br />b) when flying en route over water beyond gliding distance from the shore, in the case of all other landplanes; an<br />c) when taking off or landing at an aerodrome where, in the opinion of the State of the Operator, the take-off or approach path is so disposed over water that in the even; of a mishap there would be a likelihood of a ditching.</p>

                <p>6.5.2.2 The equipment referred to in 6.5.2.1 shall comprise one life jacket or equivalent individual floatation device for each person on board, stowed in a position easily accessible from the seat or berth of the person for whose use<br />it is provided.</p>

                <p>Note.- "Landplanes" includes amphibians operated as landplanes</p>

                <p style="padding-left: 30px;">6.5.3 All aeroplanes on long range over water flights</p>

                <p>6.5.3.1 in addition to the equipment prescribed in 6.5.1 or 6.5.2 whichever is applicable, the following equipment shall be installed in all aeroplanes when used over routes on which the aeroplane may be over water and at more than a distance corresponding to 120 minutes at cruising speed or 740 km (400 NM), whichever is the lesser, away from land suitable for making an emergency landing in the case of aircraft operated in accordance with 5.2.9 or 5.2.10, and 30 minutes or 185 km (100 NM), whichever is the lesser, for all other aeroplanes:</p>

                <p style="padding-left: 30px;">a) Lifesaving rafts in sufficient numbers to carry all persons on board, stowed so as to facilitate their ready use in emergency, provided with such lifesaving equipment including means of sustaining life as is appropriate to the flight to be undertaken; and</p>

                <p style="padding-left: 30px;"><br />b) equipment for making the pyrotechnical distress signals described in Annex 2.</p>

                <p>6.5.3.2 Each life jacket and equivalent individual floatation device, when carried in accordance with 6,5.1 a), 6.5.2.1 and 6.5.2.2, shall be equipped with a means of electric illumination for the purpose of facilitating the location of persons, except where the requirement of 6.5.2.1 c) is met by the provision of individual floatation devices other than life jackets.</p>

                <p style="padding-left: 30px;">6.6 All aeroplanes on flights over designated land areas</p>

                <p>Aeroplanes, when operated across land areas which have been designated by the State concerned as areas in which search and rescue would be especially difficult, shall be equipped with such signalling devices and life-saving equipment (including means of sustaining life) as may be appropriate to the area overflown.</p>

                <p style="padding-left: 30px;">6.7 All aeroplanes on high altitude flights</p>

                <p>Note ~ Approximate altitude in the Standard Atmosphere corresponding to the value of absolute pressure used in this text is as follows:</p>

                <p style="padding-left: 30px;">Absolute pressure Metres Feet<br />700 hPa 3 000 10 000<br />620 hPa 4 000 13 000<br />376 hPa 7 600 25 000</p>

                <p>6.7.1 An aeroplane intended to be operated at flight altitudes at which the atmospheric pressure is less than 700 hPa in personnel compartments shall be equipped with oxygen storage and dispensing apparatus capable of storing and dispensing the oxygen supplies required in 4.3.8.1.</p>

                <p>6.7.2 An aeroplane intended to be operated at flight altitudes at which the atmospheric pressure is less than 700 hPa but which is provided with means of maintaining pressures greater than 700 hPa in personnel compartments shall be provided with oxygen storage and dispensing apparatus capable of storing and dispensing the oxygen supplies required in 4.3.8.2.</p>

                <p>6.7.3 Pressurized aeroplanes newly introduced into service on or after l July 1962 and intended to be operated at flight altitudes at which the atmospheric pressure is less than 376 hPa shall be equipped with a device to provide positive waming to the pilot of any dangerous loss of pressurization.</p>

                <p>6.7.4 <strong>Recommendation </strong>- Pressurized aeroplanes introduced into service before J July 1962 and intended to be operated at flight altitudes at which the atmospheric pressure<br />is less than 376 hPa should be equipped with a device to provide positive warning to the pilot of any dangerous loss of pressurization.</p>

                <p>6.7.5 An aeroplane intended to be operated at flight altitudes at which the atmospheric pressure is less than 376 hPa, or which, if operated at flight altitudes at which the atmospheric pressure is more than 376 hPa. cannot descend safely within four minutes to a flight altitude at which the atmospheric pressure is equal to 620 hPa and for which the individual certificate of airworthiness was issued on or after 9 November l99S, shall be provided with automatically deployable oxygen equipment to satisfy the requirements of</p>

                <p>4.3.8.2. The total number of oxygen dispensing units shall exceed the number of passenger and cabin attendant seats by at least 10 per cent.</p>

                <p>6.7.6 <strong>Recommendation</strong> - An aeroplane intended to be operated at flight altitudes at which the atmospheric pressure is less than 376 hPa, or which, if operated at flight altitudes at which the atmospheric pressure is more than 376 hPa cannot descend safely within four minutes to a flight altitude at which the atmospheric pressure is equal to 620 hPa, and for which the individual certificate of airworthiness is issued before 9 November /998.should be provided with automatically deployable oxygen equipment to satisfy the requirements of 4.3.8.2. The total number of oxygen dispensing units should exceed the number of passenger and cabin attendant seats by at least l0 per cent.</p>

                <p style="padding-left: 30px;">6.8 All aeroplanes in icing conditions</p>

                <p>All aeroplanes shall be equipped with suitable anti-icing and/or de-icing devices when operated in circumstances in which icing conditions are reported to exist or are expected to be encountered.</p>
            
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
