<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Newspaper article by Sharon Spiteri discussing the assassination of Fathi Shqaqi</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Newspaper article by Sharon Spiteri published in The Times, Nov 01 1995. Discussing the assassination of Fathi Shqaqi" />
    <meta name="author" content="Sharon Spitteri, The Times, Malta" />
    <meta name="category" content="Newspaper" />
    <meta name="created-day" content="01" />
    <meta name="created-month" content="November" />
    <meta name="created-year" content="1995" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

              <span class="header-blue">Assassination of Fathi Shqaqi</span>

              <div class="article-image-r"><img src="article-images/assassination 2.jpg" alt="Assassination of Shqaqi" title="Article by Shaorn Spiteri" /></div>

              <p><strong>Security measures not enough to protect him</strong></p>
              <p>By : Sharon Spiteri</p>
              <p>November 01 1995</p>

              <p>Libya has been accused of trying to distance itself from last Thursdays murder of Islamic Jihad leader Fathi Shqaqi and blamed for not providing enough security to protect him.</p>

              <p>Reuters quote a senior Palestinian official saying,"We do not wish to hold the Libyans responsible for brother Shqaqis assassination but the security measures they made were not enough to protect him.”</p>

              <p>“It looks as though the Libyans are now looking for a way to distance themselves from the incident especially that they gave a Libyan passport to Shqaqi."</p>

              <p>"I think it was a big mistake to let Shqaqi go to Malta taking into consideration Israel’s big presence on the island" another official said. The Libyan ambassador has been asked by The Times for a reaction to the statement but no reply has been given yet.</p>

              <p>Shqaqi, 43, was gunned down in front of a Silema hotel last Thursday just two hours after arriving in Malta from a meeting with Libyan leader Muammar Gaddafi. The founder leader of the Islamic Jihad went with the leader of the Fatah Uprising group, Colonel Abu Musa and the deputy leader ofthe Popular Front for the Liberation of Palestine-General Command (PFLP-GC), Talal Nagi to plead with Col. Gaddafi to rescind his decision to expel Palestinians.</p>

              <div class="article-image-r"><img src="article-images/shqaqi protest.jpg" alt="Islamic Jihad activists chant and call for revenge against Israel in the Gaza Strip during a protest rally to condemn the killing of Fathi Shqaqi" /></div>

              <p>The other two leaders returned to Damascus via a different route. The Islamic Jihad is the second largest Moslem militant movement among Palestinians after Hamas. the Islamic Resistance Movement. Both launched several bloody suicide attacks in which scores of Israelis were killed alter the signing of a PLO peace deal with Israel in 1993. Islamic Jihad accuses Israel of killing Shqaqi and has vowed to revenge itself with more suicide bombers, Israel officials have refused to confirm or deny Israel carried out the killing but welcomed his death.</p>

              <p>Yossi Melman said in an Israeli newspaper that the Mossad had leaked the news after realising that the world had kept quiet for two days, Israeli security analysts have confirmed that the method used to kill Shqaqi bore all the hallmarks of a Mossad contract killing. The bullets used to kill Shqaqi were 9mm short and the security analysts have confirmed that one of the hallmarks of a Mossad killing is the use of the same calibre bullets in a short loaded Berretta.</p>

              <p>Meanwhile, the Police Commissioner has declined to answer questions sent to him by The Times. The police public relations officer said that the commissioner could not answer the questions in the interest of the investigation. He was asked,</p>

              <ul class="article-ul">
                  <li class="article-li">Have the police asked any foreign countries for help in solving the murder</li>
                  <li class="article-li">Who do the police believe is behind the murder</li>
                  <li class="article-li">Have the police asked Israel For Shqaqis fingerprints</li>
                  <li class="article-li">Have the police asked Israel for anyone else’s fingerprints</li>
                  <li class="article-li">Do the police believe the perpetrators of last Thursday’s murder are still on the island</li>
                  <li class="article-li">Were any weapons found on the victim’s body, in his luggage or in the room at the hotel he was staying at</li>
                  <li class="article-li">Who identified the body</li>
                  <li class="article-li">Were any relatives of the victim on the island</li>
                  <li class="article-li">Have the police spoken to any off the victims relatives</li>
                  <li class="article-li">Are the police inquiring as to how the victim carried a Libyan passport</li>
                  <li class="article-li">Are the police inquiring how he entered Malta without anyone being aware of his presence</li>
                  <li class="article-li">Have any members of the police been sent to make enquiries abroad</li>
                  <li class="article-li">Does the police suspect that the Israeli Mossad secret service have agents operating from here</li>
              </ul>

              <p>Information released by police so far reports eyewitnesses as having seen a man run up to the victim as he arrived from a shopping trip and shoot him at least east three times in quick succession.</p>

              <p>The murderer escaped on a motorbike driven by an accomplice. The two had been waiting for Shqaqi at first identified as Ibrahim Ali Shawesh, for at least two hours before the murder. Two salesgirls at the Bernardi store on the Slierna strand told police they remembered serving Shqaqi minutes before he died on Thursday. The two girls were the last people to see the Palestinian leader alive, after he went into the store alone to buy clothes just before closing time at 1pm.</p>

              <p>Shqaqi had also been to the Marks and Spencer store a block away where he bought a shirt. The girl who served him there did not recognise the man when she was showed his passport photo by police. Sources at the Palace Tower said the ferry trip from Malta to Libya was cancelled yesterday but they could not say why. They said another trip was scheduled for this morning,</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>
    </body>
</html>
