<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Article by Issam Hamza reporting the body of Fathi Shqaqi being flown to Damascus</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Article by Issam Hamza, published in The Times, Malta on November 01 1995 reporting on the body of Fathi Shqaqi being flown to Damascus" />
    <meta name="author" content="Issam Hamza, The Times, Malta" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="01" />
    <meta name="created-month" content="November" />
    <meta name="created-year" content="1995" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

              <span class="header-blue">Shqaqi's Body Flown To Damascus</span>

              <div class="article-image-r"><img src="article-images/shqaqi 2.jpg" alt="Shqaqis body flown to damascus" title="Shqaqis body flown to damascus"></div>

              <p><strong>Issam Hamza</strong></p>

              <p><strong>November 01 1995</strong></p>

              <p>The body of Islamic Jihad leader Fathi Shqaqi, was flown to Damascus yesterday and was met by the new head of the radical Palestinian group.</p>

              <p>Ramadan Abdallah Shallah, making his first appearance after his appointment to replace Shqaqi, was at Damascus airport with other militant Palestinian leaders to pay respects, Shqaqi’s coffin, wrapped in the Palestinian flag, was taken from the chartered Tunisian aircraft to a Damascus hospital where it will stay until the funeral today.</p>

              <p>The bearded Shallah has made no statement since Sunday, when he was declared new leader of Islamic Jihad, which is bent on destroying Israel and torpedoing Israel-PLO peace moves. Islamic Jihad has carried out a series of suicide bombings in which scores of Israelis have been killed. Shqaqi was gunned down in Malta while he was on his way to Damascus from Libya, where he sought to persuade Libyan leader Muammar Gaddaii to withdraw his decision to expel thousands of Palestinians.</p>

              <p>Israel. restricted the movements of nearly two million Palestinians in the self-ruled Gaza Strip and the occupied West Bank on Monday, fearing attacks by Islamic Jihad to avenge the killing of its leader. The Islamic Jihad Movement in Palestine accused lsrael’s Mossad secret service of gunning down Shqaqi, 43.</p>

              <p>Israel declined to say whether it carried out the shooting but called Shqaqi a murderer. At Damascus airport yesterday were Ahmed Jibril, chief of the Popular Front for the Liberation of Palestine-General Command (PFLP-GC), Colonel Abu Musa, leader ofthe Fatah Uprising who was with Shqaqi in Libya, and Talal Nagi, deputy PFLP-GC chief who was also in Libya.</p>

              <p>Shqaqi‘s wife, Fathiya, and other relatives were at the airport. Fathiya Shqaqi, dressed in a long mauve robe, and other Palestinian women, shouted "Death to Israel", "Death to America", and "Allahu Akbar Allahu Akbar (God is greatest)" as the cofiin was taken to the hospital.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>Latest Articles...</p>
                <ul>
                  <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                  <li><a href="../maltese-board-of-inquiry-report.html" >Maltese Board of Inquiry Report</a></li>
                  <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                </ul>
              </div>

              <div class="article-lists">
                <p>Most Read...</p>
                <ul>
                  <li><a href="../death-in-the-mediterranean.html" >An Investigation By Don Mullan</a></li>
                  <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                  <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                </ul>
              </div>

              <div class="article-lists">
                <p>Coming Soon...</p>
                <ul>
                  <li><a href="#">Updated responsive website suitable for mobile and tablets</a></li>
                </ul>
              </div>

              <div class="article-lists">
                <p>Related Sites...</p>
                <ul>
                  <li><a href="www.flightlinemalta.com">Flightline GA Malta</a></li>
                  <li><a href="pprune.org">Professional Pilots Rumour Network</a></li>
                  <li><a href="https://jetphotos.com/photo/71054">Jet Photos</a></li>
                </ul>
              </div>
        </div>              <!-- end of latest-populat-soon -->
        
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
