<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Newspaper article by Sharon Spiteri reporting that Shqaqi's assaasins may have left Malta on private plane</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Newspaper article written by Sharon Spiteri, in The Times, Malta November 9th 1995. reporting that Shqaqi's assaasins may have left Malta on private plane. The police have received information from Interpol detailing how the assassins of`an Islamic Jihad leader killed in Malta last month left the island, Police sources told The Times the information was sent on Monday night but would not reveal the contents of the message For security reasons." />
    <meta name="author" content="Sharon Spiteri, The Times, Malta" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="09" />
    <meta name="created-month" content="November" />
    <meta name="created-year" content="1995" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">
                <p></p>
                <span class="header-blue">Shqaqi's assaasins may have left Malta on private plane</span>

                <p>by : Sharon Spiteri</p>
                <p>The Times, Malta : November 9th 1995</p>

                <div class="article-image-r"><img src="article-images/shqaqi.jpg" alt="Shqaqis assassins left malta on private plane" title="Article by Sharon Spiteri" /></div>

                <p>The police have received information from Interpol detailing how the assassins of`an Islamic Jihad leader killed in Malta last month left the island, Police sources told The Times the information was sent on Monday night but would not reveal the contents of the message For security reasons.</p>

                <p>But other sources said the police were working on the theory that the men left; the `island on board a private plane hired from a local company and flown by 1 Maltese pilot.</p>

                <p>Fathi Shqaqi. 43. was shot in the head tive times at close range just after 1:00pm last October 26th. The police know of two killers, who rode up to their victim on a blue Yamaha found in Manwel Dimech Street, Sliema five minutes away from the scene of the crime in Tower Road.</p>

                <p>What is still very unclear and what police have so far refused to say is whether they have established how the killers got from Manwel Dimech Street to the airport.The smartly dressed Islamic Jihad leader was at first identified as a Libyan passport holder bearing the name Ibrahim Ali A. Shawesh.</p>

                <p>Meanwhile, sources at the Palace Tower said they were still not expecting a ferry from Libya after the daily crossing was suspended on October 31,</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
        <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
        <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
