<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Murder Mystery Riddle Over Belfast Mans Disappearance Published in Sunday Life By Ciaran Barnes December</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Murder Mystery Riddle Over Belfast Mans Disappearance - Published in Sunday Life By Ciaran Barnes December 11th 2011" />
    <meta name="author" content="Ciaran Barnes, Sunday Life" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="11" />
    <meta name="created-month" content="December" />
    <meta name="created-year" content="2011" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">Murder Mystery Riddle Over Belfast Mans Disappearance</span>
                <p></p>
                <h3>Published in Sunday Life By Ciaran Barnes December 11th 2011</h3>

                <p>The wife of a Belfast man who went missing in Africa fears he may have been murdered by Islamic terrorists.</p>

                <div class="article-image-l"><img src="article-images/sunday-life-11122011-image001.jpg" /></div>

                <p>Mandy Boomer was speaking on the 16th anniversary of the disappearance of her husband Dessie Boomer, who has not been seen since December 3, 1995. The 39-year-old, who was working as an engineer in Libya and returning to Northern Ireland for Christmas, was scheduled to fly from Tunisia to Malta as part of the journey home.</p>

                <p>The Tunisian government says the flight crashed in the Mediterranean Sea as a result of mechanical failure. The bodies of Dessie, who is originally from Andersonstown in West Belfast, and the five others on board, have never been recovered. But the Boomer family refuse to accept the official version of events. Mandy who lives in Banbridge, believes there is a strong chance the Piper Lance plane never left the runway and that her husband was kidnapped and killed by Islamic terrorists. She said: "I’ve always wondered did the plane leave the tarmac. We asked for satellite coverage of it in the air and there was none, there was no video of my husband or the other passengers in the airport, no evidence of a take-off".</p>

                <p>Adding to Mandy’s suspicions are the statements of passengers David Silts, Rodney Wood and Omar Klebb who flew on the Piper Lance from Malta to Tunisia earlier that day. "They reported the plane suffering engine problems and Captain Carmel Bartolo ripping off the alternator belt after it landed in Tunisia” she said, “replacing the belt would take a specialist mechanic at least three hours. After landing Bartolo did not contact his insurance company to inform them that the Piper Lance needed repairs. The official Tunisian report into the tragedy concluded that he either changed the alternator belt himself or flew without one - meaning the plane’s battery would only last for 15 minutes.</p>

                <div class="article-image-r"><img src="article-images/sunday-life-11122011-image002.jpg" /></div>

                <p>There is no way that Mandy Boomer believes this occurred as Bartolo was an experienced pilot and the flight to Malta from Tunisia takes 90 minutes. What she believes could have happened is that the group was targeted by Islamic terrorists. Five weeks before her husband disappeared the leader of Islamic Jihad, Fathi Shaqaqi, was murdered in Malta. He was shot dead by agents from the Israeli secret service Mossad  who accused him of organising attacks in the country. After the killing, reports emerged in the Maltese press about how the Mossad agents escaped back to Israel on a light aircraft. Captain Carmel Bartolo was identified as a suspect and immediately became a target.</p>

                <p> The Boomer family suspect that Islamic Jihad may have used his trip to Tunisia on December 3 to extract revenge and that Dessie and the other Piper Lance passengers were caught up in the attack. "It’s a possibility and one that I’ve thought about for a long time," said Mandy Boomer. "I can’t help but wonder". Mandy believes the key to unravelling the mystery behind her husband’s disappearance is discovering the identities of two fishermen who allegedly pulled plane wreckage out of the sea.</p>

                <div class="article-image-l"><img src="article-images/sunday-life-11122011-image003.jpg" /></div>

                <p>The Tunisian government insists the 1996 find was fuselage from the Piper Lance but it has refused to name the fishermen, their boat or the exact location of the discovery. "I’ve seen the wreckage and it was a mess, but I don’t know if it’s from the plane Dessie was supposed to be on," said Mandy. Dessie’s engineer father Cormac Boomer who died in 2008, always rejected claims that it belonged to the Piper Lance. He said that the real wreckage would have been covered in rust because of it lying at the bottom of the Mediterranean sea for months.</p>

                <p>In the 16 years since she last saw her husband Mandy Boomer has not given up on the belief that the truth behind his disappearance will finally emerge.  With Tunisia now having an elected government following the toppling of dictator Ben Ali earlier this year, the mum of five hopes the new regime might give her answers. Buoyed on by this, Dessie’s younger brother Mark set up the www.9habu.com website, named after the number of the fatal Piper Lance plane that he was supposed to board.</p>

                <p>So far almost 400 people signed an online petition calling for an inquiry what really happened.</p>

                <p>Dessie was declared formally dead in 2002, seven years after he went missing. "We won’t get closure until we find out the truth about what happened. It’s been 16 years but we will not give up”</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
