<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" >
      <title>The Times Malta Piper lance Inquiry Inconclusive</title>
    
      <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
      
      <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

      <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
      <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
      <meta name="description" content="This newspaper article, published on November 28th 1996 in The Times, Malta, was forward to Cormac Boomer by AFM Warrant Officer Denis Caruana. Denis also included a newspaper cutting of the anniversary notice from the Aqualina family" />
      <meta name="author" content="Carmel Attard, The Times, Malta" />
      <meta name="category" content="newspaper" />
      <meta name="created-day" content="28" />
      <meta name="created-month" content="November" />
      <meta name="created-year" content="1998" />

      <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
      <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" href="../styles.css">
    
    </head>
    
    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

              <span class="header-blue">Piper Lance inquiry inconclusive</span>
              <p></p>
              <h3>THE TIMES, THURSDAY NOVEMBER 28, 1996</h3>

              <p><strong>By Carmel Attard</strong></p>

              <p>The inquiry into the disappearance of a Maltese-registered light plane with six persons on board on a flight from Tunisia stands adjourned sine die, leaving a number of unanswered questions on what had actually happened.</p>

              <p>The chairman of the board of inquiry, Dr Philip Sciberras, was clear in the first sitting when he stated that a lack of hard evidence such as wreckage would make it difficult for the inquiry to establish what caused the disappearance of the aircraft on December 3 of last year.</p>

              <p>Last October the Ministry of Transport was informed that three weeks earlier a Tunisian fisherman had brought up some debris from the aircraft and a wallet belonging to the pilot, Carmel Bartolo.<br /> <br />Searches by the AFM proved negative. During the inquiry several shortcomings were brought to light, not only in the way the Tunisian authorities handled the whole affair but also in the manner with which the accident was tackled by the Maltese Department of Civil Aviation.</p>

              <p>The least one can now expect is a list of recommendations to ensure that the Civil Aviation Department in Malta will see to it that loopholes identified in the process would be remedied. There seem to be grey areas in the checking of private aircraft operations; the way a red alert is called and coordinated and the certification of pilots.</p>

              <p>The inquiry has also indicated that there are too many responsibilities placed on a single person, the Director of Operations, That is neither fair on the person concerned nor on the safety of air operations. The DCA has a duty to inform the general public of the lessons learnt from this unfortunate accident and the remedies being made.</p>

              <p>This newspaper article was sent to Cormac Boomer by AFM Warrant Officer Denis Caruana.</p>

              <div><img src="article-images/denis caruana letter.jpg" alt="Hand written Letter from Denis Caruana" title="Hand written Letter from Denis Caruana" /></div>

              <p>Denis also sent a copy of the anniversary notice for Matthew Aqualina that the Aqualina family had published, it read,</p>
              <p><em>"A year has gone by and we constantly pray that you and fellow passengers and crew on the Piper Lance are safe following its tragic and mysterious disappearance. You are always in our thoughts and prayers and we hope we have yet to embrace you dearest Matthew"</em></p>

              <p>Denis Caruana included a touching hand written letter to Cormac Boomer promising to forward any mention of the disappearance in the Maltese newspapers.</p>
            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
        <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
        <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
