<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>Translation of article 4th DECEMBER 1998 in IL-GENS By Carmel Attard</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Libya,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Translation of article 4th DECEMBER 1998 in IL-GENS By Carmel Attard" />
    <meta name="author" content="Carmel Attard" />
    <meta name="category" content="newspaper" />
    <meta name="created-day" content="04" />
    <meta name="created-month" content="December" />
    <meta name="created-year" content="1998" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html">An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html">Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html">Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">
                
              <span class="header-blue">TRANSLATION OF ARTICLE IN IL-GENS</span>

              <p>4th DECEMBER 1998<br /><br />QUESTIONS ON THE PIPER LANCE<br /><br /><strong>BY CARMEL ATTARD<br /><br /></strong></p>

              <div class="article-image-r"><img src="article-images/il-gens headline.jpg" alt="Headline from il-gens newspaper" title="Headline from il-gens newspaper" /></div>

              <p>Three years ago yesterday five men that had boarded a small plane with one engine went missing together with the pilot during a flight from Djerba to Malta. On the plane Piper PA32 Lance registered in Malta at the company Sun Aviation.</p>

              <p>There was the Pilot Carmel Bartolo, Desmond boomer and Michael Williams. At the time of the flight there was a big storm. For some reason probably because the alternator belt got torn off the engine the plane went down in the sea with the people and all. Small remains of the aircraft were found by some Tunisian fisherman and were examined by an expert from the Piper Inc. who confirmed that they were of the piper lance. The pilot and the passengers were not found.</p>

              <p>The disappearance of the plane brought up various theories as to what could have happened on that day. During witnessing in the court hearing by the board of inquiry it was stated that that days flight was a free one. The managing director of Unique Travel had witness that because of Excelair Service Ltd to which was leased the piper lance of sun aviation was not doing well at all. The pilot Carmel Bartolo offered a free flight. Bartolo was also the owner of Sun Aviation and also of Excelair.</p>

              <p>Excelair had a license for fee paying passengers, sun aviation did not from statistics published every year by malta international airport Ltd. Sun Aviation was increasing its flights and also the number of passengers that it carried. In 1994 Sun Aviation worked 189 flights and carried 502 passengers on the piper lance with one engine. Up to what  is know the board of inquiry did not inquire if these flights had also been given free as was stated by the managing director of unique travel.</p>

              <p>In the MIA statistics from 1995 Sun Aviation is not listed although it was still operating. A spokesman from MIA had told me that the flights of Sun Aviation were included with those of Excelair that had done 1231 flights and had carried 4135 passengers. It would be interesting if the board of inquiry how many of these flight has been done by the name of Excelair. Sun aviation was to do private flights and use its registration name as a call sign. Excelair because it had a license to work air taxi servcies it use to use the anme of the company and the number of the flight as is done by normal airlines.<br /><br />The civil aviation authority of united kingdom does not let airplanes with one engine fly on a long flight over the sea with passengers that pay for this flight The CAA makes it very clear that a small aircraft with one engine has to fly on the flight that has an alternative airport where it can glide if the engines stops functioning.</p>

              <p>It would be interesting to hear the version of the department of aviation regarding those of flights that took place from the airport of Malta. It would also be interesting to find out what type of surveillance is done that regulations both international and local are checked and observed.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
            <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
            <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
