<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>US Finds Missing Libyan Plane While Searching For 9habu</title>
    
    <meta name="viewport" content="width=device-width initial-scale=1"> <!-- sets initial scale to 100% -->
     
    <link rel="shortcut icon" type="image/ico" href="../img/icons/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/130d5316ba.js" crossorigin="anonymous"></script>
                                                                                            
    <meta name="keywords" content="'9HABU','9H-ABU','Malta','Djerba','Lybia,'disappearance of flight','mysterious disappearance','Desmond Boomer','conspiracy theory','air crash investigation','cover up','plane crash investigation'" />
    <meta name="description" content="Information received from a friend of Phillip Farrugia's who said that the US had discovered a missing Libyan plane while searching for 9H-ABU." />
    <meta name="author" content="Phillip Farrugia" />
    <meta name="category" content="general" />
    <meta name="created-day" content="12" />
    <meta name="created-month" content="September" />
    <meta name="created-year" content="1999" />

    <!-- this is a downloaded google font  Use font-family: 'Cinzel', serif; in CSS-->
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../styles.css">
    
    </head>

    <!-- ******************************************************************************************* -->

    <body id="body-top"> <!-- the jquery will scroll to this point -->
        
        <!-- ********************************************************************************** -->
        <!-- navigation menu displayed across the top of the page                               -->
        <!-- ********************************************************************************** -->
        <header id="header-menu">
            <h2><a href="#" target="_blank"><img src="../img/logo.jpg" alt="Piper Lance 9h-abu"></a></h2>
            <nav>
                <ul>
                    <li><a href="#body-top">Top</a></li>         <!-- returns to top the site -->

                    <li><a href="../index.html" title="Home Page" >Home</a></li>
                    <li><a href="../death-in-the-mediterranean.html" title="An Investigation By Don Mullan" >An Investigation By Don Mullan</a></li>
                    <li><a href="../maltese-board-of-inquiry-report.html" title="Maltese Board of Inquiry Report" >Maltese Board of Inquiry Report</a></li>
                    <li><a href="../malta-tv-documentary.html" title="Malta TV Documentary" >Malta TV Documentary</a></li>
                    <li><a href="../contact-me.php" title="Contact Us">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <!-- ********************************************************************************** -->

        <!-- **************************************************************************** -->
        <!-- section holding the images of the missing passengers                         -->
        <!-- **************************************************************************** -->
        <ul id="missing-passengers" class="the-missing" >

            <passenger-details 
                v-for="(missingperson, index) in passengers" v-bind:passenger="missingperson" :key="index">         
            </passenger-details>                              
            
        </ul> <!-- end of "the-missing" -->
    
        <!-- **************************************************************************** -->
        <!-- section for the text on the main page                                        -->
        <!-- **************************************************************************** -->

        <div id="main-text-area">

            <div class="main-text main-text-wide">

                <span class="header-blue">US finds missing Libyan plane while searching for 9habu</span>

                <p>A friend of Phillip Farrugia passed on this information</p>

                <p>He told me that Phillip Farrugia was a nice quiet guy who worked for IDC company in Libya on Rig 39 in 1980/1 and had actually survived a desert well blowout.</p>
              
                <p>Phillip had come back to work for another company just before the accident, possibly a firm called Baker-Hughes. He didn't know whether Phillip worked with my brother Desmond. Phillip's friend said he was still in Tripoli when 9H-ABU disappeared and of course heard the story about the horrendous inward flight and the fact that it was all the pilots fault. <br /> <br />He confirmed that it really was a terrible, terrible night and on reflection doesn't believe any sane pilot would have taken off without waiting at least a few more hours for daylight, even if the plane was 100% ok. He also told me he that he has left Libya now but is still in contact with some people there.</p>
              
                <p>The other interesting thing he told me was that the company he worked for (IDC) had just been bought by a Libyan and there were many relatives of the new owners passing through the office on the airport road . One of these was a military pilot married to a Bulgarian, who had been up all night searching for the wreckage and he said that, "the Americans had also helped", presumably by satellite imagery etc. and they had found, "something that was of interest to Libya", while searching for the Maltese plane. He explained that this was a Libyan plane that had previously gone down. Phillip's friend wasn't sure if this was a military or civilian plane.</p>
              
                <p>He also expressed his sorrow at the death Phillip and the other missing men and hoped that some information may come out now that the Libyan regime has, at last, fallen.</p>

            </div> <!-- end of main-text -->

        </div> <!-- end of main-text-area -->
                
        <!-- **************************************************************************** -->
        <!-- section holding the links to latest articles, most popular, coming soon, links                                    -->
        <!-- **************************************************************************** -->
        
        <div id="latest-popular-soon">

              <div class="article-lists">
                <p>{{ latestArticlesTitle }}...</p>
                <ul>
                    <latest 
                        v-for="(article, index) in latestArticles"                 
                        v-bind:latestarticle="article"                           
                        :key="index">                                            
                    </latest>                                                   
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ mostReadArticlesTitle }}...</p>
                <ul>
                    <most-read 
                        v-for="(article, index) in mostReadArticles"                 
                        v-bind:mostreadarticle="article"                           
                        :key="index">                                            
                    </most-read>                                        
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ comingSoonArticlesTitle }}...</p>
                <ul>
                    <coming-soon 
                        v-for="(article, index) in comingSoonArticles"                 
                        v-bind:comingsoonarticle="article"                           
                        :key="index">                                            
                    </coming-soon>                                      
                </ul>
              </div>

              <div class="article-lists">
                <p>{{ relatedSitesTitle }}...</p>
                <ul>
                    <related-sites 
                        v-for="(site, index) in relatedSites"                 
                        v-bind:sitelist="site"                           
                        :key="index">                                            
                    </related-sites>         
                </ul>
              </div>
        </div>              <!-- end of latest-popular-soon -->

        <!-- **************************************************************************** -->
        <!-- section holding the links to social media                                    -->
        <!-- **************************************************************************** -->

        <footer id="social-media">
            <ul>
                <li><a href="https://www.facebook.com/The-mysterious-disappearance-of-flight-9h-Abu-110054825767796/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
            </ul>   
        <p>&copy; <script>document.write(new Date().getFullYear());</script> The Mysterious Disappearance Of Flight 9H-ABU</p>
        <p>&ldquo;All Rights Reserved&mdash;Designed by Mark Boomer&rdquo; </p>
        </footer>

        <!-- **************************************************************************** -->
        <!-- Load the VUE.js libraries to access Vue functionality                        -->
        <!-- **************************************************************************** -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="../main.js"></script>

    </body>
</html>
